{% extends 'common.html' %}
{% load static %}


{% block style %}
	{% comment %} <meta name="viewport" content="width=1300, user-scalable=yes"> {% endcomment %}
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<style>
		html, body {
			overflow-y: hidden !important;
			overflow-x: hidden !important;
		  }
		.captcha-container {
			display: flex;
			justify-content: center; 
			align-items: center;      
			margin-top: 20px;        
		}
		@media (max-width: 800px) {
			.form-sm {
				width: 100% !important;
				max-width: 300px;	
				margin-right:300px;	
				margin-top:220px;			
			  padding: 2rem !important;
			  overflow-y: hidden !important;
			overflow-x: hidden !important;
			}
			.login-image-sm {
				max-width: 120px !important;
				height: 320px !important;
				margin-right:300px;
				overflow-x: hidden !important;
				
			  }
			  .container-fluid {
				padding-left: 0 !important;
				padding-right: 0 !important;
				margin: 0 !important;
				
			  }
		  
			  .col-12 {
				padding-left: 0 !important;
				padding-right: 0 !important;
				
			  }
		  
			  .input-group.input-group-lg {
				font-size: 0.85rem;
				
			  }
		  
			  .input-group.input-group-lg .form-control,
			  .input-group.input-group-lg .input-group-text {
				padding: 0.375rem 0.5rem;
			  }

			.form-sm .input-group-lg,
			.form-sm .form-control,
			.form-sm .input-group-text {
			  font-size: 0.75rem !important;
			  padding: 0.5rem 0.9rem !important;
			  height: 38px !important;
			}
		
			.form-sm i {
			  font-size: 0.75rem !important;
			}
		
			.form-sm .btn {
			  font-size: 0.75rem !important;
			  padding: 0.4rem  !important;
			  width: 100% !important;
			  max-width: 300px;			  
			  margin-right:80px;
			}
		
			.form-sm .form-text {
			  font-size: 0.6rem !important;
			  margin:20px;
			}
		
			.form-sm .captcha-container {
			  transform: scale(0.7);
			  transform-origin: top right;
			  margin-right:75px;
			}
		
			
		  }
	</style>
	
{% endblock style %}
	

{% block body %}
<!-- **************** MAIN CONTENT START **************** -->
<main>
	<section class="p-0 d-flex align-items-center position-relative overflow-hidden">
	  <div class="container-fluid">
		<div class="row flex-column-reverse flex-lg-row">
  
		  <!-- فرم ورود -->
		  <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center">
			<div class="w-100 px-3 px-sm-5 py-4 form-sm" style="max-width: 500px;">
			  <form method="post">
				{% csrf_token %}
  
				<!-- Username -->
				<div class="mb-4">
				  <div class="input-group input-group-lg">
					<span class="input-group-text bg-light border-0 text-secondary px-3 rounded-start">
					  <i class="bi bi-person-fill"></i>
					</span>
					<input type="text" class="form-control border-0 bg-light rounded-end ps-1" placeholder="نام کاربری" name="username" style="text-align: right;">
				  </div>
				</div>
  
				<!-- Password -->
				<div class="mb-4">
				  <div class="input-group input-group-lg">
					<span class="input-group-text bg-light border-0 text-secondary px-3 rounded-start">
					  <i class="fas fa-lock"></i>
					</span>
					<input type="password" class="form-control border-0 bg-light rounded-end ps-1" placeholder="رمز عبور" name="password" style="text-align: right;">
				  </div>
				  <div class="form-text">رمز عبور باید حداقل ۸ کاراکتر باشد</div>
				</div>
  
				<!-- Button -->
				<div class="d-grid">
				  <button class="btn btn-primary" type="submit">ورود</button>
				</div>
  
				<!-- Hcaptcha -->
				<div class="captcha-container mt-4">
				  <div class="h-captcha" data-sitekey="29c887a0-d0ba-4a92-bf3e-4534e9469a86"></div>
				</div>
			  </form>
			</div>
		  </div>
  
		  <!-- تصویر سمت راست -->
		  <div id="allimg" class=" col-12 col-lg-6 d-flex align-items-center justify-content-center bg-primary bg-opacity-10 py-4">
			<img src="{% static 'assets/images/element/sign-up.svg' %}" class="img-fluid login-image-sm" alt="ورود">
		  </div>
		  
		  
  
		</div>
	  </div>
	</section>
  </main>
<!-- **************** MAIN CONTENT END **************** -->
{% endblock body %}



{% block script %}
<script src="https://js.hcaptcha.com/1/api.js" async defer></script>

{% if error_message and request.method == "POST" %}
	<script>
		Swal.fire({
			icon: 'error',
			title: 'خطا!',
			text: "{{ error_message }}",
			confirmButtonText: 'باشه'
		});
	</script>
{% endif %}
{% endblock script %}
	