{% extends 'common.html' %}
{% load static %}


{% block style %}
	{% comment %} <meta name="viewport" content="width=1300, user-scalable=yes"> {% endcomment %}
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<style>
		.captcha-container {
			display: flex;
			justify-content: center; 
			align-items: center;      
			margin-top: 20px;        
		}
	</style>
{% endblock style %}
	

{% block body %}
<!-- **************** MAIN CONTENT START **************** -->
<main>
	<section class="p-0 d-flex align-items-center position-relative overflow-hidden">
	
		<div class="container-fluid">
			<div class="row">
				<!-- Left section (moved from right) -->
				<div class="col-12 col-lg-6 m-auto">
					<div class="row my-5">
						<div class="col-sm-10 col-xl-8 m-auto">
							<!-- Form START -->
							<form method="post">
								{% csrf_token %}
								<!-- Email -->
								<div class="mb-4">
									<div class="input-group input-group-lg">
										<span class="input-group-text bg-light rounded-start border-0 text-secondary px-3">
											<i class="bi bi-person-fill"></i>
										</span>
										<input type="username" class="form-control border-0 bg-light rounded-end ps-1" placeholder="نام کاربری" id="username" name="username" style="text-align: right;">
									</div>
								</div>
								<!-- Password -->
								<div class="mb-4">
									<div class="input-group input-group-lg">
										<span class="input-group-text bg-light rounded-start border-0 text-secondary px-3">
											<i class="fas fa-lock"></i>
										</span>
										<input type="password" class="form-control border-0 bg-light rounded-end ps-1" placeholder="رمز عبور" id="password" name="password" style="text-align: right;">
									</div>
									<div id="passwordHelpBlock" class="form-text">
										رمز عبور شما باید حداقل 8 کاراکتر باشد 
									</div>
								</div>
								<!-- Button -->
								<div class="align-items-center mt-0">
									<div class="d-grid">
										<button class="btn btn-primary mb-0" type="submit">ورود</button>
									</div>
								</div>
								<br>
								<br>

								{% comment %} Hcaptcha {% endcomment %}
								<div class="captcha-container">
									<div class="h-captcha" data-sitekey="29c887a0-d0ba-4a92-bf3e-4534e9469a86"></div>
								</div>
								{% comment %} End Hcaptcha {% endcomment %}
								
							</form>
							<!-- Form END -->
						</div>
					</div> <!-- Row END -->
				</div>
			
				<!-- Right section (moved from left) -->
				<div class="col-12 col-lg-6 d-md-flex align-items-center justify-content-center bg-primary bg-opacity-10 vh-lg-100">
					<div class="p-3 p-lg-5">
						<!-- SVG Image -->
						<img src='{% static "assets/images/element/sign-up.svg" %}' class="mt-5" alt="">
					</div>
				</div>
			</div>
			
		</div>
	</section>
</main>
<!-- **************** MAIN CONTENT END **************** -->
{% endblock body %}



{% block script %}
<script src="https://js.hcaptcha.com/1/api.js" async defer></script>

{% if error_message and request.method == "POST" %}
	<script>
		Swal.fire({
			icon: 'error',
			title: 'خطا!',
			text: "{{ error_message }}",
			confirmButtonText: 'باشه'
		});
	</script>
{% endif %}
{% endblock script %}
	