ansicolors==1.1.8
asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
decorator==5.1.1
defusedxml==0.7.1
diff-match-patch==20241021
Django==5.1.6
django-import-export==4.3.5
django-ratelimit==4.1.0
django-treebeard==4.7.1
entrypoints==0.4
escapism==1.0.1
executing==2.2.0
fastjsonschema==2.21.1
idna==3.10
import-export==0.3.1
ipython-genutils==0.2.0
iso8601==2.1.0
jalali_core==1.0.0
jdatetime==5.2.0
Jinja2==3.1.5
jupyter-highlight-selected-word==0.2.0
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
lxml==5.3.1
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
mistune==3.1.1
nest-asyncio==1.6.0
packaging==24.2
pandocfilters==1.5.1
parso==0.8.4
pathlib==1.0.1
pillow==11.1.0
platformdirs==4.3.6
prometheus_client==0.21.1
prompt_toolkit==3.0.50
psutil==6.1.1
pure_eval==0.2.3
pycparser==2.22
pydantic_core==2.27.2
Pygments==2.19.1
pyreadline3==3.5.4
python-dateutil==2.9.0.post0
python-json-logger==3.2.1
PyYAML==6.0.2
pyzmq==26.2.1
qrcode==8.0
requests==2.32.3
rpds-py==0.22.3
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
semver==3.0.4
Send2Trash==1.8.3
sentry-sdk==2.21.0
six==1.17.0
sniffio==1.3.1
soupsieve==2.6
spinners==0.0.24
sqlparse==0.5.3
tablib==3.8.0
tenacity==9.0.0
termcolor==2.5.0
terminado==0.18.1
timeago==1.0.16
tinycss2==1.4.0
toml==0.10.2
tornado==6.4.2
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0