{% extends 'common.html' %}
{% load static %}
{% load humanize %}
{% block disabled_cart %}style="pointer-events: none; opacity: 0.5;"{% endblock disabled_cart %}

{% block style %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<style>
		.form-label {
			display: block;
			font-size: 14px;
			font-weight: 600;
			color: #2c3e50;
			margin-bottom: 8px;
		}
		
		.bg-light-input {
			margin-bottom: 16px;
		}
		
		.form-control {
			width: 100%;
			padding: 10px;
			font-size: 14px;
			border: 1px solid #ced4da;
			border-radius: 6px;
			transition: border-color 0.3s ease;
		}
		
		.form-control:focus {
			border-color: #80bdff;
			box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
			outline: none;
		}
		
		select.form-control {
			appearance: none;
			background-color: #f8f9fa;
			border: 1px solid #ced4da;
			border-radius: 6px;
			padding: 8px 12px;
			font-size: 14px;
			cursor: pointer;
			width: 100%;
		}
		
		select.form-control:focus {
			border-color: #80bdff;
			box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
			outline: none;
		}
	</style>
{% endblock style %}
	

{% block body %}


<!-- =======================
Page Banner START -->
<br><br>
<section class="py-0">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="bg-light p-4 text-center rounded-3">
					<h1 class="m-0 fs-2">سبد خرید</h1>
					<div class="d-flex justify-content-center">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb breadcrumb-dots mb-0">
								<li class="breadcrumb-item"><a href="{% url "Amusement_Park:Products" %}">صفحه اصلی</a></li>
								<li class="breadcrumb-item active" aria-current="page">سبد خرید</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Page Banner END -->

<!-- =======================
Page content START -->
<section class="pt-5">
	<div class="container">
	
		<div class="row g-4 g-sm-5">
			<!-- Main content START -->
			<div class="col-lg-8 mb-4 mb-sm-0">
				<div class="card card-body p-4 shadow">
					<div class="table-responsive border-0 rounded-3">
						<!-- Table START -->
						<table class="table align-middle p-4 mb-0">
							<!-- Table body START -->
							<tbody class="border-top-0">
								<!-- Table item -->
								{% for item in cart_items %}
									<tr data-ticket-product-id="{{ item.product.id }}">
										<td>
											<div class="d-lg-flex align-items-center">
												<div class="w-100px w-md-80px mb-2 mb-md-0">
													<img src="{{ item.product.image.url }}" class="rounded" alt="">
												</div>
												<h6 class="mb-0 ms-lg-3 mt-2 mt-lg-0">
													<a style="font-size: 75%;">{{ item.product.title }}</a>
												</h6>
											</div>
										</td>
										<td class="text-center">
											<h5 class="text-success mb-0" style="font-size: 75%;">{{ item.product.price|intcomma }} ریال</h5>
										</td>
										<td>
											<div class="d-flex justify-content-between align-items-center">
												<button class="btn btn-success btn-sm" disabled><i class="bi bi-cart"></i></button>
												<button class="btn btn-outline-danger btn-sm" disabled onclick="increment(this)">+</button>
												<button class="btn btn-outline-primary btn-sm counter" disabled data-product-id="{{ item.product.id }}">{{ item.quantity }}</button>
												<button class="btn btn-outline-danger btn-sm" disabled onclick="decrement(this)">-</button>
											</div>
										</td>
									</tr>
								{% endfor %}
								<!-- Table item -->
							</tbody>
							<!-- Table body END -->
						</table>
						<!-- Table END -->
					</div>

					<!-- Title -->
					<br>
					<h5 class="mb-0">اطلاعات مشتری (اختیاری) :</h5>
					<br>
					<label class="discount-label">با پر کردن این فرم از تخفیف های هیجان انگیز با بهره مند شوید !</label>
					<form class="row g-3 mt-0" method="POST" action="{% url 'Amusement_Park:save_customer' %}" id="customer-form">
						{% csrf_token %}

						<div class="input-group mt-2">
							<input id="phoneInput" name="phone" class="form-control" placeholder="شماره تماس (مثال : 09120000000)" type="text" maxlength="11" minlength="11" required>
							<button id="applyButton" type="button" class="btn btn-primary" disabled>اعمال</button>
						</div>
					
						<div class="col-md-6 bg-light-input">
							<label for="firstName" class="form-label">نام :</label>
							<input type="text" id="firstName" name="firstName" class="form-control" disabled>
						</div>
						
						<div class="col-md-6 bg-light-input">
							<label for="lastName" class="form-label">نام خانوادگی :</label>
							<input type="text" id="lastName" name="lastName" class="form-control" disabled>
						</div>
						
						<div class="col-md-4 bg-light-input">
							<label for="birthDay" class="form-label">روز تولد :</label>
							<select id="birthDay" name="birthDay" class="form-control" disabled>
								<option value="" disabled selected></option>
								<option value="01">1</option>
								<option value="02">2</option>
								<option value="03">3</option>
								<option value="04">4</option>
								<option value="05">5</option>
								<option value="06">6</option>
								<option value="07">7</option>
								<option value="08">8</option>
								<option value="09">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
								<option value="13">13</option>
								<option value="14">14</option>
								<option value="15">15</option>
								<option value="16">16</option>
								<option value="17">17</option>
								<option value="18">18</option>
								<option value="19">19</option>
								<option value="20">20</option>
								<option value="21">21</option>
								<option value="22">22</option>
								<option value="23">23</option>
								<option value="24">24</option>
								<option value="25">25</option>
								<option value="26">26</option>
								<option value="27">27</option>
								<option value="28">28</option>
								<option value="29">29</option>
								<option value="30">30</option>
								<option value="31">31</option>
							</select>
						</div>
						
						<div class="col-md-4 bg-light-input">
							<label for="birthMonth" class="form-label">ماه تولد :</label>
							<select id="birthMonth" name="birthMonth" class="form-control" disabled>
								<option value="" disabled selected></option> <!-- Placeholder -->
								<option value="01">1</option>
								<option value="02">2</option>
								<option value="03">3</option>
								<option value="04">4</option>
								<option value="05">5</option>
								<option value="06">6</option>
								<option value="07">7</option>
								<option value="08">8</option>
								<option value="09">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
							</select>
						</div>
						
						<div class="col-md-4 bg-light-input">
							<label for="birthYear" class="form-label">سال تولد :</label>
							<select id="birthYear" name="birthYear" class="form-control" disabled>
								<option value="" disabled selected></option>
								<option value="1395">1395</option>
								<option value="1394">1394</option>
								<option value="1393">1393</option>
								<option value="1392">1392</option>
								<option value="1391">1391</option>
								<option value="1390">1390</option>
								<option value="1389">1389</option>
								<option value="1388">1388</option>
								<option value="1387">1387</option>
								<option value="1386">1386</option>
								<option value="1385">1385</option>
								<option value="1384">1384</option>
								<option value="1383">1383</option>
								<option value="1382">1382</option>
								<option value="1381">1381</option>
								<option value="1380">1380</option>
								<option value="1379">1379</option>
								<option value="1378">1378</option>
								<option value="1377">1377</option>
								<option value="1376">1376</option>
								<option value="1375">1375</option>
								<option value="1374">1374</option>
								<option value="1373">1373</option>
								<option value="1372">1372</option>
								<option value="1371">1371</option>
								<option value="1370">1370</option>
								<option value="1369">1369</option>
								<option value="1368">1368</option>
								<option value="1367">1367</option>
								<option value="1366">1366</option>
								<option value="1365">1365</option>
								<option value="1364">1364</option>
								<option value="1363">1363</option>
								<option value="1362">1362</option>
								<option value="1361">1361</option>
								<option value="1360">1360</option>
								<option value="1359">1359</option>
								<option value="1358">1358</option>
								<option value="1357">1357</option>
								<option value="1356">1356</option>
								<option value="1355">1355</option>
								<option value="1354">1354</option>
								<option value="1353">1353</option>
								<option value="1352">1352</option>
								<option value="1351">1351</option>
								<option value="1350">1350</option>
								<option value="1349">1349</option>
								<option value="1348">1348</option>
								<option value="1347">1347</option>
								<option value="1346">1346</option>
								<option value="1345">1345</option>
								<option value="1344">1344</option>
								<option value="1343">1343</option>
								<option value="1342">1342</option>
								<option value="1341">1341</option>
								<option value="1340">1340</option>
								<option value="1339">1339</option>
								<option value="1338">1338</option>
								<option value="1337">1337</option>
								<option value="1336">1336</option>
								<option value="1335">1335</option>
								<option value="1334">1334</option>
								<option value="1333">1333</option>
								<option value="1332">1332</option>
								<option value="1331">1331</option>
								<option value="1330">1330</option>
								<option value="1329">1329</option>
								<option value="1328">1328</option>
								<option value="1327">1327</option>
								<option value="1326">1326</option>
								<option value="1325">1325</option>
								<option value="1324">1324</option>
								<option value="1323">1323</option>
								<option value="1322">1322</option>
								<option value="1321">1321</option>
								<option value="1320">1320</option>
								<option value="1319">1319</option>
								<option value="1318">1318</option>
								<option value="1317">1317</option>
								<option value="1316">1316</option>
								<option value="1315">1315</option>
								<option value="1314">1314</option>
								<option value="1313">1313</option>
								<option value="1312">1312</option>
								<option value="1311">1311</option>
								<option value="1310">1310</option>
							</select>
						</div>
					
						<div class="col-12 text-end p-0 position-relative">
							<button type="submit" class="btn btn-primary w-100 mb-0" disabled>ذخیره</button>
							<br>
							<small class="text-danger position-absolute" style="bottom: -20px; right: 0;">
								<i class="fas fa-exclamation-triangle"></i> لطفا اطلاعات را با دقت وارد کنید زیرا پس از ذخیره امکان تغییر آن وجود ندارد.
							</small>
							<br>
						</div>					
					</form>
					<br>
					<!-- Form END -->

					<!-- Coupon input and button -->
					<hr>
					<h5 class="mb-0">تخفیف :</h5>
					<div class="row g-3 mt-2">
						<div class="col-md-6">
							<div class="input-group">
								<input class="form-control discount-input" id="discount-code" placeholder="تخفیف با کد تخفیف :">
							</div>
							<small id="tip-code" class="form-text text-muted" style="display: none;"></small>
						</div>
						<div class="col-md-6 text-md-end">
							<button class="btn btn-primary mb-0" id="btn-code" disabled>اعمال</button>
						</div>
					</div>

					{% if request.user.is_superuser or request.user.is_staff %}
					<!-- Coupon input and button -->
					<div class="row g-3 mt-2">
						<div class="col-md-6">
							<div class="input-group">
								<input class="form-control discount-input" id="discount-amount" placeholder="تخفیف با مبلغ :">
							</div>
							<small id="tip-amount" class="form-text text-muted" style="display: none;"></small>
						</div>
						<!-- Update button -->
						<div class="col-md-6 text-md-end">
							<button class="btn btn-primary mb-0" id="btn-amount" disabled>اعمال</button>
						</div>
					</div>

					<!-- Coupon input and button -->
					<div class="row g-3 mt-2">
						<div class="col-md-6">
							<div class="input-group">
								<input class="form-control discount-input" id="discount-percent" placeholder="تخفیف با درصد :">
							</div>
							<small id="tip-percent" class="form-text text-muted" style="display: none;"></small>
						</div>
						<!-- Update button -->
						<div class="col-md-6 text-md-end">
							<button class="btn btn-primary mb-0" id="btn-percent" disabled>اعمال</button>
						</div>
					</div>
					{% endif %}

					<!-- Title -->
					<hr>
					<h5 class="">روش های پرداخت :</h5>
					<div class="col-12">
						<div class="accordion accordion-circle" id="accordioncircle">

							<!-- Card reader (Default) -->
							<div class="accordion-item mb-3">
								<h6 class="accordion-header" id="heading-card-reader">
									<button class="accordion-button rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-card-reader" aria-expanded="true" aria-controls="collapse-card-reader">
										دستگاه کارتخوان
									</button>
								</h6>
								<div id="collapse-card-reader" class="accordion-collapse collapse show" aria-labelledby="heading-card-reader" data-bs-parent="#accordioncircle">
								</div>
							</div>

							{% if request.user.is_superuser or request.user.is_staff %}
							<!-- Cash -->
							<div class="accordion-item mb-3">
								<h6 class="accordion-header" id="heading-cash">
									<button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-cash" aria-expanded="false" aria-controls="collapse-cash">
										نقدی
									</button>
								</h6>
								<div id="collapse-cash" class="accordion-collapse collapse" aria-labelledby="heading-cash" data-bs-parent="#accordioncircle">
								</div>
							</div>

							<!-- Combined payment -->
							<div class="accordion-item mb-3">
								<h6 class="accordion-header" id="heading-combined">
									<button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-combined" aria-expanded="false" aria-controls="collapse-combined">
										ترکیبی
									</button>
								</h6>
								<div id="collapse-combined" class="accordion-collapse collapse" aria-labelledby="heading-combined" data-bs-parent="#accordioncircle">
									<div class="accordion-body">
										<form class="row g-3">
											<div class="col-6">
												<label class="form-label"><span class="text-danger">* مقدار مبلغ نقدی (ریال)</span></label>
												<input type="text" id="cash-amount" class="form-control" placeholder="مبلغ نقدی را وارد کنید">
											</div>
											<div class="col-6">
												<label class="form-label"><span class="text-danger">* مقدار مبلغ پرداخت با کارتخوان (ریال)</span></label>
												<input type="text" id="card-amount" class="form-control" placeholder="مبلغ کارتخوان را وارد کنید">
											</div>
										</form>
										<br>
										<div class="row">
											<div class="col-6">
												<button type="button" id="apply-button" class="btn btn-primary w-100 mb-0" disabled>اعمال</button>
											</div>
											<div class="col-6">
												<button type="button" id="reset-button" class="btn btn-danger w-100 mb-0" disabled>تلاش مجدد</button>
											</div>
										</div>
										<br>
									</div>
								</div>
							</div>
							{% endif %}
							<!-- Credit or debit card END -->

							<!-- Net banking END -->
						</div>
					</div>
					<!-- Payment method END -->
				</div>
			</div>
			<!-- Main content END -->

			<!-- Right sidebar START -->
			<div class="col-lg-4">
				<!-- Card total START -->
				<div class="card card-body p-4 shadow">
					<!-- Title -->
					<h4 class="mb-3 fs-5 text-center">صورت حساب</h4>
					<hr>

					<!-- Price and detail -->
					<ul class="list-group list-group-borderless mb-2">
						<li class="list-group-item px-0 d-flex justify-content-between">
							<span class="h6 fw-light mb-0">قیمت</span>
							<span class="h6 fw-light mb-0 fw-bold" id="item-total-price"> ریال</span> <!-- Dynamic price -->
						</li>
						<li class="list-group-item px-0 d-flex justify-content-between">
							<span class="h6 fw-light mb-0">مالیات (%{{ get_TaxRate.rate|floatformat:0 }})</span>
							<span class="h6 fw-light mb-0 fw-bold" id="tax-amount">0 ریال</span> <!-- Dynamic tax -->
						</li>
						<li class="list-group-item px-0 d-flex justify-content-between">
							<span class="h6 fw-light mb-0">تخفیف</span>
							<span class="h6 fw-light mb-0 fw-bold"  id="discount-display">0 ریال</span>
						</li>
						<br>
						<li class="list-group-item px-0 d-flex justify-content-between">
							<span class="h5 mb-0">قیمت نهایی</span>
							<span class="text-danger h5" id="final-price">0 ریال</span>
						</li>
					</ul>
					<hr>

					<!-- Button -->
					<div class="d-grid">
						<a href='' id="pay-button" class="btn btn-lg btn-success">پرداخت</a>
						<a href='{% url "Amusement_Park:Products" %}' class="btn btn-lg btn-outline-danger">لغو</a>
					</div>
				</div>
				<!-- Card total END -->
			</div>
			<!-- Right sidebar END -->

		</div><!-- Row END -->
	</div>
</section>
<!-- =======================
Page content END -->
{% endblock body %}



{% block script %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    // Function to increment the counter
    function increment(button) {
        const counter = button.parentElement.querySelector('.counter');
        let count = parseInt(counter.innerText, 10);
        counter.innerText = count + 1;
        updateTotalPrice(counter.dataset.productId, count + 1);
    }

    // Function to decrement the counter
    function decrement(button) {
        const counter = button.parentElement.querySelector('.counter');
        let count = parseInt(counter.innerText, 10);
        if (count > 0) {
            counter.innerText = count - 1;
            updateTotalPrice(counter.dataset.productId, count - 1);
        }
    }

    // Function to update the total price via AJAX
    function updateTotalPrice(productId, newQuantity) {
        fetch("{% url 'Amusement_Park:update_item_quantity' %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',
            },
            body: JSON.stringify({
                'product_id': productId,
                'quantity': newQuantity
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                fetchTotalPrice();
            }
        })
        .catch(error => {
            console.log('Error:', error);
        });
    }

    // Function to fetch and display the total price
	function fetchTotalPrice() {
		fetch("{% url 'Amusement_Park:calculate_total_price' %}")
		.then(response => response.json())
		.then(data => {
			// Update total price
			document.getElementById('item-total-price').innerText = data.total_price.toLocaleString() + ' ریال';
	
			// Update tax amount
			document.getElementById('tax-amount').innerText = data.tax.toLocaleString() + ' ریال';

			// Update final price
			updateFinalPrice();
		})
		.catch(error => {
			console.log('Error:', error);
		});
	}

    // Fetch the total price when the page loads
    document.addEventListener('DOMContentLoaded', fetchTotalPrice);

	document.querySelectorAll('.discount-input').forEach(input => {
		input.addEventListener('input', function () {
			const buttonId = 'btn-' + this.id.split('-')[1];
			const tipId = 'tip-' + this.id.split('-')[1];
			const button = document.getElementById(buttonId);
			const tip = document.getElementById(tipId);
	
			// Reset previous discount inputs if another discount input is being typed in
			document.querySelectorAll('.discount-input').forEach(otherInput => {
				if (otherInput !== this && otherInput.value.trim() !== '') {
					otherInput.value = '';
					document.getElementById('btn-' + otherInput.id.split('-')[1]).setAttribute('disabled', true);
					document.getElementById('tip-' + otherInput.id.split('-')[1]).style.display = 'none';
				}
			});
	
			// Enable/Disable button and show tip
			if (this.value.trim() !== '') {
				button.removeAttribute('disabled');
				tip.style.display = 'inline';
				tip.textContent = this.getAttribute('data-tip');
			} else {
				button.setAttribute('disabled', true);
				tip.style.display = 'none';
			}
		});
	});
	
	
	// Check if the page is being loaded for the first time
	if (performance.navigation.type === 1) {
		window.location.href = "{% url 'Amusement_Park:Products' %}";
	}

	let isDiscountApplied = false;

	// Function to apply discount
	function applyDiscount() {
		const discountInput = document.getElementById('discount-amount');
		const discountValue = parseFloat(discountInput.value);  // Convert input to number
		const totalPrice = parseFloat(document.getElementById('item-total-price').innerText.replace(/,/g, ''));  // Get total price
		const taxAmount = parseFloat(document.getElementById('tax-amount').innerText.replace(/,/g, ''));  // Get tax amount
		const maxDiscount = totalPrice + taxAmount;  // Calculate maximum allowed discount

		if (isNaN(discountValue) || discountValue <= 0) {
			Swal.fire({
				title: 'خطا!',
				text: 'لطفاً یک مقدار معتبر برای تخفیف وارد کنید.',
				icon: 'error',
				confirmButtonText: 'باشه'
			});
			return;
		}

		if (discountValue > maxDiscount) {
			Swal.fire({
				title: 'خطا!',
				text: `حداکثر مقدار تخفیف قابل اعمال ${maxDiscount.toLocaleString()} ریال است.`,
				icon: 'error',
				confirmButtonText: 'باشه'
			});
			return;
		}

		// Update discount display
		document.getElementById('discount-display').innerText = discountValue.toLocaleString() + ' ریال';

		// Show success notification
		Swal.fire({
			title: 'تخفیف اعمال شد!',
			text: `تخفیف ${discountValue.toLocaleString()} ریال با موفقیت اعمال شد.`,
			icon: 'success',
			confirmButtonText: 'باشه'
		});
		    // Set discount applied flag
    			isDiscountApplied = true;
				updateFinalPrice();
	}

	// Add event listener to the discount button
	document.getElementById('btn-amount').addEventListener('click', applyDiscount);

	// Enable/disable discount button based on input
	document.getElementById('discount-amount').addEventListener('input', function() {
		const discountButton = document.getElementById('btn-amount');
		if (this.value.trim() !== '') {
			discountButton.removeAttribute('disabled');
		} else {
			discountButton.setAttribute('disabled', true);
		}
	});


	// Function to apply percentage discount
	function applyPercentageDiscount() {
		const discountPercentInput = document.getElementById('discount-percent');
		const discountPercentValue = parseFloat(discountPercentInput.value);  // Convert input to number
		const totalPrice = parseFloat(document.getElementById('item-total-price').innerText.replace(/,/g, ''));  // Get total price
		const taxAmount = parseFloat(document.getElementById('tax-amount').innerText.replace(/,/g, ''));  // Get tax amount
		const totalAmount = totalPrice + taxAmount;  // Calculate total amount (price + tax)

		// Validate input
		if (isNaN(discountPercentValue) || discountPercentValue < 1 || discountPercentValue > 100) {
			Swal.fire({
				title: 'خطا!',
				text: 'لطفاً یک درصد معتبر بین ۱ تا ۱۰۰ وارد کنید.',
				icon: 'error',
				confirmButtonText: 'باشه'
			});
			return;
		}

		// Calculate discount amount
		const discountAmount = (totalAmount / 100) * discountPercentValue;

		// Update discount display
		document.getElementById('discount-display').innerText = discountAmount.toLocaleString() + ' ریال';

		// Show success notification
		Swal.fire({
			title: 'تخفیف اعمال شد!',
			text: `تخفیف ${discountPercentValue}% (${discountAmount.toLocaleString()} ریال) با موفقیت اعمال شد.`,
			icon: 'success',
			confirmButtonText: 'باشه'
		});
		    // Set discount applied flag
    			isDiscountApplied = true;
				updateFinalPrice();
	}

	// Add event listener to the percentage discount button
	document.getElementById('btn-percent').addEventListener('click', applyPercentageDiscount);

	// Enable/disable percentage discount button based on input
	document.getElementById('discount-percent').addEventListener('input', function() {
		const discountPercentButton = document.getElementById('btn-percent');
		if (this.value.trim() !== '') {
			discountPercentButton.removeAttribute('disabled');
		} else {
			discountPercentButton.setAttribute('disabled', true);
		}
	});


	// Function to apply discount code
	function applyDiscountCode() {
		const discountCodeInput = document.getElementById('discount-code');
		const discountCode = discountCodeInput.value.trim().toLowerCase();  // Normalize the input

		if (!discountCode) {
			Swal.fire({
				title: 'خطا!',
				text: 'لطفاً یک کد تخفیف وارد کنید.',
				icon: 'error',
				confirmButtonText: 'باشه'
			});
			return;
		}

		// Fetch discount code details from the server
		fetch(`{% url 'Amusement_Park:check_discount_code' %}?code=${discountCode}`)
		.then(response => response.json())
		.then(data => {
			if (data.success) {
				const totalPrice = parseFloat(document.getElementById('item-total-price').innerText.replace(/,/g, ''));  // Get total price
				const taxAmount = parseFloat(document.getElementById('tax-amount').innerText.replace(/,/g, ''));  // Get tax amount
				const totalAmount = totalPrice + taxAmount;  // Calculate total amount (price + tax)
				const discountAmount = (totalAmount / 100) * data.percent;  // Calculate discount amount

				// Update discount display
				document.getElementById('discount-display').innerText = discountAmount.toLocaleString() + ' ریال';

				// Show success notification
				Swal.fire({
					title: 'تخفیف اعمال شد!',
					text: data.message,
					icon: 'success',
					confirmButtonText: 'باشه'
				});
				    // Set discount applied flag
    			isDiscountApplied = true;
				updateFinalPrice();
			} else {
				// Show error notification
				Swal.fire({
					title: 'خطا!',
					text: data.message,
					icon: 'error',
					confirmButtonText: 'باشه'
				});
			}
		})
		.catch(error => {
			console.log('Error:', error);
		});
	}

	// Add event listener to the discount code button
	document.getElementById('btn-code').addEventListener('click', applyDiscountCode);

	// Enable/disable discount code button based on input
	document.getElementById('discount-code').addEventListener('input', function() {
		const discountCodeButton = document.getElementById('btn-code');
		if (this.value.trim() !== '') {
			discountCodeButton.removeAttribute('disabled');
		} else {
			discountCodeButton.setAttribute('disabled', true);
		}
	});

	// Restrict input to lowercase English letters
	document.getElementById('discount-code').addEventListener('input', function() {
		this.value = this.value.toLowerCase().replace(/[^a-z]/g, '');
	});	


	// Function to update the final price
	function updateFinalPrice() {
		const totalPrice = parseFloat(document.getElementById('item-total-price').innerText.replace(/,/g, ''));  // Get total price
		const taxAmount = parseFloat(document.getElementById('tax-amount').innerText.replace(/,/g, ''));  // Get tax amount
		const discountAmount = parseFloat(document.getElementById('discount-display').innerText.replace(/,/g, ''));  // Get discount amount

		// Calculate final price
		const finalPrice = totalPrice + taxAmount - discountAmount;

		// Update final price display
		document.getElementById('final-price').innerText = finalPrice.toLocaleString() + ' ریال';
	}

	document.addEventListener('DOMContentLoaded', function() {
		fetchTotalPrice();
		updateFinalPrice();  // Update final price on page load
	});


    const phoneInput = document.getElementById('phoneInput');
    const applyButton = document.getElementById('applyButton');
    phoneInput.addEventListener('input', function () {
        if (phoneInput.value.length === 11) {
            applyButton.disabled = false; 
        } else {
            applyButton.disabled = true;
        }
    });	




	const birthDay = document.getElementById('birthDay');
    const birthMonth = document.getElementById('birthMonth');

    birthMonth.addEventListener('change', function () {
        const selectedDay = parseInt(birthDay.value, 10);
        const selectedMonth = parseInt(birthMonth.value, 10); 

        if (selectedMonth >= 7 && selectedDay === 31) {
            birthDay.value = 30; 
        }
    });

    birthDay.addEventListener('change', function () {
        const selectedDay = parseInt(birthDay.value, 10); 
        const selectedMonth = parseInt(birthMonth.value, 10); 

        if (selectedMonth >= 7 && selectedDay === 31) {
            birthDay.value = 30;
        }
    });	


	document.getElementById('applyButton').addEventListener('click', function () {
		const phoneInput = document.getElementById('phoneInput');
		const phone = phoneInput.value;
	
		fetch(`/Amusement_Park/search-customer/?phone=${phone}`)
			.then(response => response.json())
			.then(data => {
				if (data.exists) {
					document.getElementById('firstName').value = data.first_name || '';
					document.getElementById('lastName').value = data.last_name || '';
	
					if (data.date_of_birth) {
						const dateParts = data.date_of_birth.split('-');
						document.getElementById('birthYear').value = dateParts[0];
						document.getElementById('birthMonth').value = dateParts[1];
						document.getElementById('birthDay').value = dateParts[2];
					}
	
					document.getElementById('firstName').setAttribute('disabled', true);
					document.getElementById('lastName').setAttribute('disabled', true);
					document.getElementById('birthYear').setAttribute('disabled', true);
					document.getElementById('birthMonth').setAttribute('disabled', true);
					document.getElementById('birthDay').setAttribute('disabled', true);
					document.querySelector('button[type="submit"]').setAttribute('disabled', true);
	
					phoneInput.setAttribute('disabled', true);
					document.getElementById('applyButton').setAttribute('disabled', true);
	
					Swal.fire({
						icon: 'info',
						title: 'کاربر با موفقیت یافت شد',
						text: 'خوش حال هستیم که ما شریک شادی شما هستیم.',
					});
				} else {
					document.getElementById('firstName').removeAttribute('disabled');
					document.getElementById('lastName').removeAttribute('disabled');
					document.getElementById('birthYear').removeAttribute('disabled');
					document.getElementById('birthMonth').removeAttribute('disabled');
					document.getElementById('birthDay').removeAttribute('disabled');
					document.querySelector('button[type="submit"]').removeAttribute('disabled');
	
					phoneInput.setAttribute('disabled', true);
					document.getElementById('applyButton').setAttribute('disabled', true);
	
					Swal.fire({
						icon: 'success',
						title: 'کاربر جدید',
						text: 'لطفاً اطلاعات خود را وارد کنید.',
					});
				}
			})
			.catch(error => {
				console.error('Error:', error);
				Swal.fire({
					icon: 'error',
					title: 'خطا',
					text: 'مشکلی در ارتباط با سرور به وجود آمد.',
				});
			});
	});
	
	document.getElementById('phoneInput').addEventListener('input', function () {
		const phone = this.value;
		const applyButton = document.getElementById('applyButton');
	
		if (phone.length === 11 && phone.startsWith('09')) {
			applyButton.removeAttribute('disabled');
		} else {
			applyButton.setAttribute('disabled', true);
		}
	});
	
	document.querySelector('form').addEventListener('submit', function (e) {
		e.preventDefault(); 
	
		const formData = new FormData(this);
	
		if (document.getElementById('phoneInput').disabled) {
			formData.append('phone', document.getElementById('phoneInput').value);
		}
	
		const birthYear = formData.get('birthYear');
		const birthMonth = formData.get('birthMonth');
		const birthDay = formData.get('birthDay');
		const date_of_birth = `${birthYear}-${birthMonth.padStart(2, '0')}-${birthDay.padStart(2, '0')}`;
	
		formData.append('date_of_birth', date_of_birth);
	
		for (let [key, value] of formData.entries()) {
			console.log(key, value);
		}
	
		fetch(this.action, {
			method: 'POST',
			body: formData,
			headers: {
				'X-CSRFToken': formData.get('csrfmiddlewaretoken'),
			},
		})
		.then(response => response.json())
		.then(data => {
			if (data.success) {
				document.getElementById('firstName').setAttribute('disabled', true);
				document.getElementById('lastName').setAttribute('disabled', true);
				document.getElementById('birthYear').setAttribute('disabled', true);
				document.getElementById('birthMonth').setAttribute('disabled', true);
				document.getElementById('birthDay').setAttribute('disabled', true);
				document.querySelector('button[type="submit"]').setAttribute('disabled', true);
	
				Swal.fire({
					icon: 'success',
					title: 'موفقیت‌آمیز',
					text: data.message || 'اطلاعات کاربر با موفقیت ذخیره شد.',
				});
			} else {
				Swal.fire({
					icon: 'error',
					title: 'خطا',
					text: data.message || 'مشکلی در ذخیره اطلاعات به وجود آمد.',
				});
			}
		})
		.catch(error => {
			console.error('Error:', error);
			Swal.fire({
				icon: 'error',
				title: 'خطا',
				text: 'مشکلی در ارتباط با سرور به وجود آمد.',
			});
		});
	});



	document.addEventListener('DOMContentLoaded', function() {
		const cashInput = document.getElementById('cash-amount');
		const cardInput = document.getElementById('card-amount');
		const applyButton = document.getElementById('apply-button');
		const resetButton = document.getElementById('reset-button');
		const finalPriceElement = document.getElementById('final-price');
		const payButton = document.getElementById('pay-button'); // دکمه پرداخت با آیدی
	
		function updateFinalPrice() {
			const totalPrice = parseFloat(document.getElementById('item-total-price').innerText.replace(/,/g, ''));
			const taxAmount = parseFloat(document.getElementById('tax-amount').innerText.replace(/,/g, ''));
			const discountAmount = parseFloat(document.getElementById('discount-display').innerText.replace(/,/g, ''));
	
			const finalPrice = totalPrice + taxAmount - discountAmount;
			finalPriceElement.innerText = finalPrice.toLocaleString() + ' ریال';
			return finalPrice;
		}
	
		function resetCombinedFields() {
			cashInput.value = '';
			cardInput.value = '';
			cashInput.disabled = false;
			cardInput.disabled = false;
			applyButton.disabled = true;
			resetButton.disabled = true;
		}
	
		function validateInput(input, finalPrice) {
			const value = parseFloat(input.value.replace(/,/g, '')) || 0;
			if (value > finalPrice) {
				Swal.fire({
					title: 'خطا',
					text: 'مقدار وارد شده نمی‌تواند بیشتر از قیمت نهایی باشد.',
					icon: 'error',
					confirmButtonText: 'باشه'
				});
				input.value = '';
				applyButton.disabled = true;
				return false;
			}
			return true;
		}
	
		function disableOtherInput(currentInput, otherInput, finalPrice) {
			if (currentInput.value.trim() !== '') {
				if (validateInput(currentInput, finalPrice)) {
					otherInput.disabled = true;
					applyButton.disabled = false;
				}
			} else {
				otherInput.disabled = false;
				applyButton.disabled = true;
			}
		}
	
		cashInput.addEventListener('input', function() {
			const finalPrice = updateFinalPrice();
			disableOtherInput(cashInput, cardInput, finalPrice);
		});
	
		cardInput.addEventListener('input', function() {
			const finalPrice = updateFinalPrice();
			disableOtherInput(cardInput, cashInput, finalPrice);
		});
	
		applyButton.addEventListener('click', function() {
			const finalPrice = updateFinalPrice();
			const cashAmount = parseFloat(cashInput.value.replace(/,/g, '')) || 0;
			const cardAmount = parseFloat(cardInput.value.replace(/,/g, '')) || 0;
	
			if (cashAmount > 0) {
				if (cashAmount > finalPrice) {
					Swal.fire({
						title: 'خطا',
						text: 'مقدار نقدی نمی‌تواند بیشتر از قیمت نهایی باشد.',
						icon: 'error',
						confirmButtonText: 'باشه'
					});
					return;
				}
				cardInput.value = (finalPrice - cashAmount).toLocaleString();
			} else if (cardAmount > 0) {
				if (cardAmount > finalPrice) {
					Swal.fire({
						title: 'خطا',
						text: 'مقدار کارتخوان نمی‌تواند بیشتر از قیمت نهایی باشد.',
						icon: 'error',
						confirmButtonText: 'باشه'
					});
					return;
				}
				cashInput.value = (finalPrice - cardAmount).toLocaleString();
			}
	
			cashInput.disabled = true;
			cardInput.disabled = true;
	
			applyButton.disabled = true;
			resetButton.disabled = false;
		});
	
		resetButton.addEventListener('click', function() {
			resetCombinedFields();
		});
	
		payButton.addEventListener('click', function(event) {
			const cashAmount = parseFloat(cashInput.value.replace(/,/g, '')) || 0;
			const cardAmount = parseFloat(cardInput.value.replace(/,/g, '')) || 0;
	
			const isCombinedPayment = document.getElementById('collapse-combined').classList.contains('show');
	
			if (isCombinedPayment) {
				if (cashAmount === 0 && cardAmount === 0) {
					event.preventDefault(); 
					Swal.fire({
						title: 'خطا',
						text: 'لطفاً ابتدا مشخص کنید چقدر از فروش ترکیبی شما نقد است و چقدر با دستگاه کارتخوان پرداخت می‌شود.',
						icon: 'error',
						confirmButtonText: 'باشه'
					});
				} else if (cashInput.disabled === false || cardInput.disabled === false) {
					event.preventDefault(); 
					Swal.fire({
						title: 'خطا',
						text: 'لطفاً دکمه "اعمال" را بزنید تا مبالغ نقدی و کارتخوان تأیید شوند.',
						icon: 'error',
						confirmButtonText: 'باشه'
					});
				}
			}
		});
	
		const observer = new MutationObserver(function(mutations) {
			mutations.forEach(function(mutation) {
				if (mutation.attributeName === 'innerText' && mutation.target.id === 'final-price') {
					resetCombinedFields();
				}
			});
		});
	
		observer.observe(finalPriceElement, {
			attributes: true
		});
	
		document.querySelectorAll('.discount-input').forEach(input => {
			input.addEventListener('input', function() {
				resetCombinedFields();
			});
		});
	
		document.querySelectorAll('#btn-code, #btn-amount, #btn-percent').forEach(button => {
			button.addEventListener('click', function() {
				resetCombinedFields();
			});
		});
	});




	document.getElementById('pay-button').addEventListener('click', function (e) {
		e.preventDefault(); // جلوگیری از رفتار پیش‌فرض لینک
	
		const cashAmount = parseFloat(document.getElementById('cash-amount').value.replace(/,/g, '')) || 0;
		const cardAmount = parseFloat(document.getElementById('card-amount').value.replace(/,/g, '')) || 0;
	
		const isCombinedPayment = document.getElementById('collapse-combined').classList.contains('show');
		const isCashPayment = document.getElementById('collapse-cash').classList.contains('show');
	
		// بررسی فروش نقدی
		if (isCashPayment) {
			Swal.fire({
				title: 'تأیید فروش نقدی',
				text: 'آیا مطمئن هستید که این خرید کاملاً نقدی است؟',
				icon: 'question',
				showCancelButton: true,
				confirmButtonText: 'بله',
				cancelButtonText: 'خیر'
			}).then((result) => {
				if (result.isConfirmed) {
					// اگر کاربر "بله" را انتخاب کرد، ادامه فرآیند پرداخت
					proceedWithPayment();
				}
			});
		} else {
			// اگر فروش نقدی نبود، مستقیماً ادامه فرآیند پرداخت
			proceedWithPayment();
		}
	
		function proceedWithPayment() {
			if (isCombinedPayment) {
				if (cashAmount === 0 && cardAmount === 0) {
					Swal.fire({
						title: 'خطا',
						text: 'لطفاً ابتدا مشخص کنید چقدر از فروش ترکیبی شما نقد است و چقدر با دستگاه کارتخوان پرداخت می‌شود.',
						icon: 'error',
						confirmButtonText: 'باشه'
					});
					return; // جلوگیری از ارسال درخواست به سرور
				} else if (document.getElementById('cash-amount').disabled === false || document.getElementById('card-amount').disabled === false) {
					Swal.fire({
						title: 'خطا',
						text: 'لطفاً دکمه "اعمال" را بزنید تا مبالغ نقدی و کارتخوان تأیید شوند.',
						icon: 'error',
						confirmButtonText: 'باشه'
					});
					return; // جلوگیری از ارسال درخواست به سرور
				}
			}
	
			// جمع‌آوری داده‌های مشتری
			const phone = document.getElementById('phoneInput').value;
			const firstName = document.getElementById('firstName').value;
			const lastName = document.getElementById('lastName').value;
			const birthYear = document.getElementById('birthYear').value;
			const birthMonth = document.getElementById('birthMonth').value;
			const birthDay = document.getElementById('birthDay').value;
	
			const customerData = phone ? {
				phone: phone,
				firstName: firstName || null,
				lastName: lastName || null,
				birthYear: birthYear || null,
				birthMonth: birthMonth || null,
				birthDay: birthDay || null,
			} : null;
	
			// جمع‌آوری داده‌های سبد خرید
			const cartItems = [];
			document.querySelectorAll('[data-ticket-product-id]').forEach(item => {
				const productId = item.getAttribute('data-ticket-product-id');
				const quantity = item.querySelector('.counter').innerText;
				cartItems.push({ product_id: productId, quantity: parseInt(quantity) });
			});
	
			// جمع‌آوری داده‌های تراکنش
			const transactionData = {
				type: getTransactionType(), // تشخیص نوع تراکنش
				discount_code: document.getElementById('discount-code').value || null, // ارسال null اگر مقدار خالی باشد
				discount_amount: parseFloat(document.getElementById('discount-display').innerText.replace(/[^0-9.-]+/g, "")) || 0,
				mix_pc: document.getElementById('card-amount') ? parseFloat(document.getElementById('card-amount').value.replace(/,/g, '')) : null,
				mix_cash: document.getElementById('cash-amount') ? parseFloat(document.getElementById('cash-amount').value.replace(/,/g, '')) : null,
			};
	
			// ارسال داده‌ها به سرور
			fetch('{% url "Amusement_Park:submit_pay" %}', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
					'X-CSRFToken': '{{ csrf_token }}', // اضافه کردن توکن CSRF
				},
				body: JSON.stringify({
					customer_data: customerData,
					cart_items: cartItems,
					transaction_data: transactionData,
				}),
			})
			.then(response => {
				if (!response.ok) {
					throw new Error('خطا در ارتباط با سرور.');
				}
				return response.json();
			})
			.then(data => {
				if (data.success) {
					Swal.fire({
						icon: 'success',
						title: 'موفقیت آمیز',
						text: 'پرداخت با موفقیت انجام شد.',
						confirmButtonText: 'باشه'
					}).then((result) => {
						if (result.isConfirmed) {
							window.location.href = '{% url "Amusement_Park:Products" %}'; // انتقال به صفحه محصولات
						}
					});
				} else {
					Swal.fire({
						icon: 'error',
						title: 'خطا در پرداخت',
						text: 'خطا در پرداخت: ' + data.message,
						confirmButtonText: 'باشه'
					});
				}
			})
			.catch(error => {
				console.error('Error:', error);
				Swal.fire({
					icon: 'error',
					title: 'خطا در ارتباط با سرور',
					text: 'خطا در ارتباط با سرور.',
					confirmButtonText: 'باشه'
				});
			});
		}
	});
	
	// تابع جدید برای تشخیص نوع تراکنش
	function getTransactionType() {
		const isCardReaderOpen = document.getElementById('collapse-card-reader').classList.contains('show');
		const isCashOpen = document.getElementById('collapse-cash').classList.contains('show');
		const isCombinedOpen = document.getElementById('collapse-combined').classList.contains('show');
	
		if (isCardReaderOpen) {
			return 'pc'; // دستگاه کارتخوان
		} else if (isCashOpen) {
			return 'cash'; // نقدی
		} else if (isCombinedOpen) {
			return 'mix'; // ترکیبی
		} else {
			return 'pc'; // پیش‌فرض دستگاه کارتخوان
		}
	}




	document.getElementById('btn-code').addEventListener('click', function () {
		const discountCode = document.getElementById('discount-code').value;
	
		fetch(`{% url 'Amusement_Park:check_discount_code' %}?code=${discountCode}`)
		.then(response => response.json())
		.then(data => {
			if (data.success) {
				const discountAmount = (parseFloat(document.getElementById('item-total-price').innerText.replace(/[^0-9.-]+/g, "")) / 100) * data.percent;
				document.getElementById('discount-display').innerText = discountAmount.toLocaleString() + ' ریال';
				updateFinalPrice(); // تابعی برای به‌روزرسانی قیمت نهایی
			}
		})
		.catch(error => {
			console.error('Error:', error);
			alert('خطا در ارتباط با سرور.');
		});
	});





</script>
{% endblock script %}



