{% extends 'common.html' %}
{% load static %}
{% block active_main %}active{% endblock active_main %}
{% block body %}

<!-- =======================
Instructor grid START -->
<section>
	<div class="container">

		<!-- Instructor grid -->
		<div class="row g-4">
			<!-- Card item START -->
			<div class="col-sm-6 col-lg-4 col-xl-3">
				<div class="card p-2 shadow h-100">
					<div class="card-image-scale rounded-3 position-relative">
						<!-- Card Image -->
						<img src='{% static "assets/images/instructor/01.jpg" %}' class="card-img" alt="">
					</div> 
					
					<!-- Card body -->
					<div class="card-body px-2">
						<!-- Title -->
						<h5 class="card-title"><a href="workshop-detail.html" class="stretched-link">آموزش Sketch</a></h5>
						<h6 class="mb-0 fw-normal">با مهرداد علیزاده</h6>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-sm-6 col-lg-4 col-xl-3">
				<div class="card p-2 shadow h-100">
					<div class="card-image-scale rounded-3 position-relative">
						<!-- Card Image -->
						<img src='{% static "assets/images/instructor/02.jpg" %}' class="card-img" alt="">
					</div> 
					
					<!-- Card body -->
					<div class="card-body px-2">
						<!-- Title -->
						<h5 class="card-title"><a href="workshop-detail.html" class="stretched-link">آموزش Photoshop</a></h5>
						<h6 class="mb-0 fw-normal">با مریم حقیقت نژاد</h6>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-sm-6 col-lg-4 col-xl-3">
				<div class="card p-2 shadow h-100">
					<div class="card-image-scale rounded-3 position-relative">
						<!-- Card Image -->
						<img src='{% static "assets/images/instructor/03.jpg" %}' class="card-img" alt="">
					</div> 
					
					<!-- Card body -->
					<div class="card-body px-2">
						<!-- Title -->
						<h5 class="card-title"><a href="workshop-detail.html" class="stretched-link">آموزش React-Native</a></h5>
						<h6 class="mb-0 fw-normal">با مسعود قربانی</h6>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-sm-6 col-lg-4 col-xl-3">
				<div class="card p-2 shadow h-100">
					<div class="card-image-scale rounded-3 position-relative">
						<!-- Card Image -->
						<img src='{% static "assets/images/instructor/06.jpg" %}' class="card-img" alt="">
					</div> 
					
					<!-- Card body -->
					<div class="card-body px-2">
						<!-- Title -->
						<h5 class="card-title"><a href="workshop-detail.html" class="stretched-link">آموزش JavaScript</a></h5>
						<h6 class="mb-0 fw-normal">با نیلوفر رنجبر</h6>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-sm-6 col-lg-4 col-xl-3">
				<div class="card p-2 shadow h-100">
					<div class="card-image-scale rounded-3 position-relative">
						<!-- Card Image -->
						<img src='{% static "assets/images/instructor/07.jpg" %}' class="card-img" alt="">
					</div> 
					
					<!-- Card body -->
					<div class="card-body px-2">
						<!-- Title -->
						<h5 class="card-title"><a href="workshop-detail.html" class="stretched-link">آموزش Python</a></h5>
						<h6 class="mb-0 fw-normal">با هانیه سعادت</h6>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-sm-6 col-lg-4 col-xl-3">
				<div class="card p-2 shadow h-100">
					<div class="card-image-scale rounded-3 position-relative">
						<!-- Card Image -->
						<img src='{% static "assets/images/instructor/08.jpg" %}' class="card-img" alt="">
					</div> 
					
					<!-- Card body -->
					<div class="card-body px-2">
						<!-- Title -->
						<h5 class="card-title"><a href="workshop-detail.html" class="stretched-link">آموزش Bootstrap</a></h5>
						<h6 class="mb-0 fw-normal">با علی محمدی</h6>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-sm-6 col-lg-4 col-xl-3">
				<div class="card p-2 shadow h-100">
					<div class="card-image-scale rounded-3 position-relative">
						<!-- Card Image -->
						<img src='{% static "assets/images/instructor/10.jpg" %}' class="card-img" alt="">
					</div> 
					
					<!-- Card body -->
					<div class="card-body px-2">
						<!-- Title -->
						<h5 class="card-title"><a href="workshop-detail.html" class="stretched-link">آموزش Laravel</a></h5>
						<h6 class="mb-0 fw-normal">با لیلا گودرزی</h6>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-sm-6 col-lg-4 col-xl-3">
				<div class="card p-2 shadow h-100">
					<div class="card-image-scale rounded-3 position-relative">
						<!-- Card Image -->
						<img src='{% static "assets/images/instructor/11.jpg" %}' class="card-img" alt="">
					</div> 
					
					<!-- Card body -->
					<div class="card-body px-2">
						<!-- Title -->
						<h5 class="card-title"><a href="workshop-detail.html" class="stretched-link">آموزش Invision</a></h5>
						<h6 class="mb-0 fw-normal">با سینا زارعی</h6>
					</div>
				</div>
			</div>
			<!-- Card item END -->
		</div>

	</div>
</section>
<!-- =======================
Instructor grid END -->
{% endblock body %}