{% extends 'common.html' %}
{% load static %}
{% load humanize %}
{% block active_main %}active{% endblock active_main %}

{% block style %}
	<style>
		.special-disabled {
			pointer-events: none;
			opacity: 0.5;
		}		

		.btn-xs {
			padding: 2px 6px;
			font-size: 12px;
			line-height: 1;
		}

		.mt-2 {
			margin-top: 0rem !important;
		}		

		.btn-lg, .btn-group-lg > .btn {
			--bs-btn-padding-y: 0.58em !important;
			--bs-btn-padding-x: 1.2rem !important;
			--bs-btn-font-size: 1.1rem !important;
			--bs-btn-border-radius: 0.5rem !important;
		}		

	</style>
{% endblock style %}
	
{% block body %}

<!-- =======================
Instructor grid START -->
<section>
    <div class="container">

        <!-- Instructor grid -->
        <div class="row g-4">

            <!-- Card item START -->
            {% for i in Product_Views %}
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="card p-2 shadow h-100" data-product-id="{{ i.id }}">
                        <div class="card-image-scale rounded-3 position-relative">
                            <!-- Card Image -->
                            <img src="{{ i.image.url }}" class="card-img" alt="">
                            <!-- Overlay -->
                            <div class="card-img-overlay d-flex flex-column p-2 z-index-1">
                                <div>
                                    <span class="badge text-bg-dark">
                                        <i class="bi bi-currency-dollar text-warning me-2"></i>{{ i.price|intcomma:False }} ریال
                                    </span>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Card body -->
                        <div class="card-body px-2">
                            <!-- Title -->
                            <h5 class="card-title">
                                <a style="font-size: 15px;">{{ i.title }}</a>
                            </h5>
                            <hr>
                            <!-- Buttons -->
							{% if request.user.role == 'scanner' %}
							<div class="d-flex justify-content-between align-items-center special-disabled">
								<button class="btn btn-outline-success btn-sm"><i class="bi bi-cart"></i></button>
								<button class="btn btn-outline-danger btn-sm">+</button>
								<button class="btn btn-outline-primary btn-sm counter">0</button>
								<button class="btn btn-outline-danger btn-sm">-</button>
							</div>
							{% else %}
							<div class="d-flex justify-content-between align-items-center">
								<button class="btn btn-outline-success btn-sm" onclick="addToCart({{ i.id }}); resetCounter(this)"><i class="bi bi-cart"></i></button>
								<button class="btn btn-outline-danger btn-sm" onclick="increment(this)">+</button>
								<button class="btn btn-outline-primary btn-sm counter" disabled>0</button>
								<button class="btn btn-outline-danger btn-sm" onclick="decrement(this)">-</button>
							</div>
							{% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            <!-- Card item END -->
        </div>
    </div>
</section>
<!-- =======================
Instructor grid END -->
{% endblock body %}


{% block shortcut_header %}
<li class="nav-item ms-2">
    <div class="d-flex align-items-center bg-light rounded-pill p-1 shadow-sm">
        <span class="mx-2 text-muted" id="saleModeText">فروش عادی</span>
        <div class="form-check form-switch m-0">
            <input class="form-check-input" type="checkbox" id="saleModeToggle">
        </div>
        <i class="fas fa-store text-primary mx-2" id="saleModeIcon"></i>
    </div>
</li>

<li class="nav-item ms-2 dropdown">
    <a class="btn btn-light btn-round mb-0 text-success" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
        <i class="bi bi-cart3 fa-fw"></i>
    </a>
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-circle bg-dark mt-xl-2 ms-n1" id="cart-badge">0</span>

    <!-- Cart dropdown menu START -->
    <div class="dropdown-menu dropdown-animation dropdown-menu-end dropdown-menu-size-md p-0 shadow-lg border-0" id="cart-dropdown">
        <div class="card bg-transparent">
            <div class="card-header bg-transparent border-bottom py-4">
                <h5 class="m-0">سبد خرید شما :</h5>
            </div>
            <div class="card-body p-0" id="cart-items" style="max-height: 300px; overflow-y: auto;">
                <!-- Cart items will be populated here -->
            </div>
            <div class="card-footer bg-transparent border-top py-3 text-center d-flex justify-content-between position-relative">
                <a href="{% url 'Amusement_Park:Cart' %}" class="cart-link btn btn-sm btn-primary mb-0" style="flex: 1; margin: 0 5px; padding: 0.5rem; font-size: 0.875rem; width: 100px; height: 40px; text-align: center; line-height: 1.2;">سبد خرید</a>
                <a class="btn btn-sm btn-danger mb-0" style="flex: 1; margin: 0 5px; padding: 0.5rem; font-size: 0.875rem; width: 100px; height: 40px; text-align: center; line-height: 1.2;" onclick="clearAll()">حذف همه</a>
            </div>
        </div>
    </div>
    <!-- Cart dropdown menu END -->
</li>

<li class="nav-item ms-2">
    <!-- Cart button -->
    <a class="btn btn-light btn-round mb-0 ms-2" role="button" aria-expanded="false" data-bs-auto-close="outside" onclick="clearAll()">
        <i class="bi bi-trash fa-fw text-danger"></i>
    </a>
</li>


{% endblock shortcut_header %}


{% block script %}
<script>
    // Function to increment the counter
    function increment(button) {
        const counter = button.parentElement.querySelector('.counter');
        let count = parseInt(counter.innerText, 10);
        counter.innerText = count + 1;
    }

    // Function to decrement the counter
    function decrement(button) {
        const counter = button.parentElement.querySelector('.counter');
        let count = parseInt(counter.innerText, 10);
        if (count > 0) {
            counter.innerText = count - 1;
        }
    }

    // Function to reset the counter and change the button state
	function resetCounter(button) {
		const parent = button.parentElement;
		const counter = parent.querySelector('.counter');
		const resetButton = parent.querySelector('.btn-outline-success');
		const productTitle = parent.closest('.card-body').querySelector('.card-title a').innerText;
	
		// Get the current counter value
		const count = parseInt(counter.innerText, 10);
	
		// If the counter is 0, do nothing
		if (count === 0) {
			return;
		}
	
		// Change the cart button to active state
		resetButton.classList.remove('btn-outline-success');
		resetButton.classList.add('btn-success');
	
		// Disable all other buttons except for the reset button
		parent.querySelectorAll('button').forEach(btn => {
			if (!btn.classList.contains('btn-success')) {
				btn.disabled = true;
			}
		});
	
		Swal.fire({
			title: 'محصول به سبد خرید اضافه شد!',
			text: `${count} عدد از محصول ${productTitle} به سبد خرید اضافه شد`,
			icon: 'success',
			confirmButtonText: 'باشه',
			showCancelButton: true,
			cancelButtonText: 'سبد خرید', 
			cancelButtonColor: '#3085d6',
			focusConfirm: false, 
		}).then((result) => {
			if (result.dismiss === Swal.DismissReason.cancel) {
				window.location.href = "{% url 'Amusement_Park:Cart' %}";
			}
		});
	}

    // Function to reset everything to its initial state
    function clearAll() {
        const allButtons = document.querySelectorAll('.d-flex .btn');
        const counters = document.querySelectorAll('.counter');

        // Reset all cart buttons to default
        allButtons.forEach(button => {
            button.disabled = false;
            if (button.classList.contains('btn-success')) {
                button.classList.remove('btn-success');
                button.classList.add('btn-outline-success');
            }
        });

        // Reset all counters to 0
        counters.forEach(counter => {
            counter.innerText = '0';
        });
    }


	function addToCart(productId) {
		const parent = document.querySelector(`[data-product-id="${productId}"]`);
		const counter = parent.querySelector('.counter');
		const quantity = parseInt(counter.innerText, 10);
	
		if (quantity === 0) {
			Swal.fire({
				title: 'خطا',
				text: 'لطفاً تعداد را مشخص کنید.',
				icon: 'error',
				confirmButtonText: 'باشه'
			});
			return;
		}
	
		const data = {
			'product_id': productId,
			'quantity': quantity
		};
	
		fetch("{% url 'Amusement_Park:add_to_cart' %}", {
			method: "POST",
			headers: {
				"Content-Type": "application/json",
				"X-CSRFToken": getCookie("csrftoken")
			},
			body: JSON.stringify(data)
		})
			.then(response => response.json())
			.then(data => {
				if (data.status === 'success') {
					updateCartDropdown(data.cart_items);
					resetCounter(parent);
				} else {
					Swal.fire({
						title: 'خطا',
						text: 'مشکلی در افزودن به سبد خرید وجود دارد.',
						icon: 'error',
						confirmButtonText: 'باشه'
					});
				}
			});
	}

	function updateCartDropdown(cartItems) {
		const cartContent = cartItems.map(item => `
			<div class="row p-3 g-2" id="cart-item-${item.product.id}">
				<div class="col-3">
					<img class="rounded-2" src="${item.product.image_url}" alt="avatar">
				</div>
				<div class="col-9">
					<div class="d-flex justify-content-between">
						<h6 class="m-0 fw-normal">${item.product.title}</h6>
					</div><br>
					<p>تعداد : ${item.quantity}</p>
				</div>
			</div>
			<hr class="m-0">
		`).join('');
	
		document.getElementById('cart-items').innerHTML = cartContent;
		document.getElementById('cart-badge').innerText = cartItems.length;
	}
	

	
	function updateCart(cartItems) {
		const cartBadge = document.getElementById('cart-badge');
		const cartDropdown = document.getElementById('cart-items');
		const cartCount = cartItems.length;
		let cartContent = '';
		
		cartItems.forEach(item => {
			cartContent += `
				<div class="row p-3 g-2" id="cart-item-${item.product.id}">
					<div class="col-3">
						<img class="rounded-2" src="${item.product.image_url}" alt="avatar">
					</div>
					<div class="col-9">
						<div class="d-flex justify-content-between">
							<h6 class="m-0 fw-normal">${item.product.title}</h6>
						</div><br>
						<p>تعداد :‌ ${item.quantity}</p>
					</div>
				</div>
				<hr class="m-0">
			`;
		});
	
		cartBadge.innerText = cartCount;
		cartDropdown.innerHTML = cartContent;
	}
	

	function clearAll() {
		fetch("{% url 'Amusement_Park:cancle_cart' %}", {
			method: "POST",
			headers: {
				"X-CSRFToken": getCookie('csrftoken')
			}
		})
		.then(response => response.json())
		.then(data => {
			if (data.status === 'success') {
				document.getElementById('cart-items').innerHTML = '';
				document.getElementById('cart-badge').innerText = '0';
			}
		});
	
		const allButtons = document.querySelectorAll('.d-flex .btn');
		const counters = document.querySelectorAll('.counter');
	
		// Reset all cart buttons to default
		allButtons.forEach(button => {
			button.disabled = false; // Enable the buttons
			if (button.classList.contains('btn-success')) {
				button.classList.remove('btn-success');
				button.classList.add('btn-outline-success');
			}
		});
	
		// Reset all counters to 0
		counters.forEach(counter => {
			counter.innerText = '0'; // Set all counters to 0
		});
	}
	
	// Call the function when the page loads (after refresh)
	window.onload = clearAll;
	
	
	function getCookie(name) {
		let cookieValue = null;
		if (document.cookie && document.cookie !== '') {
			const cookies = document.cookie.split(';');
			for (let i = 0; i < cookies.length; i++) {
				const cookie = cookies[i].trim();
				if (cookie.substring(0, name.length + 1) === (name + '=')) {
					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					break;
				}
			}
		}
		return cookieValue;
	}
	

	{% if cart_empty %}
		document.addEventListener('DOMContentLoaded', function() {
			Swal.fire({
				title: 'سبد خرید شما خالی است!',
				text: 'لطفاً ابتدا محصولی به سبد خرید اضافه کنید.',
				icon: 'warning',
				confirmButtonText: 'باشه'
			}).then(() => {
				// Redirect to the products page or any other page
				window.location.href = "{% url 'Amusement_Park:Products' %}";
			});
		});
	{% endif %}


    function goToCart() {
        fetch("{% url 'Amusement_Park:check_cart' %}", {
            method: "GET",
            headers: {
                "X-CSRFToken": getCookie('csrftoken')
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.cart_empty) {
                Swal.fire({
                    title: 'سبد خرید شما خالی است!',
                    text: 'لطفاً ابتدا محصولی به سبد خرید اضافه کنید.',
                    icon: 'warning',
                    confirmButtonText: 'باشه'
                });
            } else {
                window.location.href = "{% url 'Amusement_Park:Cart' %}";
            }
        });
    }

    // Update the cart link to call goToCart() instead of direct navigation
    document.querySelectorAll('.cart-link').forEach(link => {
        link.addEventListener('click', function(event) {
            event.preventDefault(); // Prevent default navigation
            goToCart();
        });
    });


	document.addEventListener("DOMContentLoaded", function () {
		let saleMode = localStorage.getItem("saleMode") === "true";
		let toggle = document.getElementById("saleModeToggle");
		let text = document.getElementById("saleModeText");
		let icon = document.getElementById("saleModeIcon");
	
		function updateSaleMode(isTourist) {
			text.textContent = isTourist ? "فروش توریستی" : "فروش عادی";
			icon.className = isTourist ? "fas fa-umbrella-beach text-success mx-2" : "fas fa-store text-primary mx-2";
		}
	
		toggle.checked = saleMode;
		updateSaleMode(saleMode);
	
		toggle.addEventListener("change", function () {
			let isTourist = toggle.checked;
			localStorage.setItem("saleMode", isTourist);
			updateSaleMode(isTourist);
			// Redirect with the appropriate sale_mode query parameter
			window.location.href = window.location.pathname + '?sale_mode=' + (isTourist ? 'tourist' : 'normal');
		});
	});
		


</script>
{% endblock script %}
	