{% extends 'common.html' %}
{% load static %}
{% block active_refund %}active{% endblock active_refund %}
{% block body %}

<!-- =======================
Page Banner START -->
<br><br>
<section class="py-0">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="bg-light p-4 text-center rounded-3">
					<h1 class="m-0 fs-2">عودت وجه</h1>
					<div class="d-flex justify-content-center">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb breadcrumb-dots mb-0">
								<li class="breadcrumb-item"><a href="{% url "Amusement_Park:Products" %}">صفحه اصلی</a></li>
								<li class="breadcrumb-item active" aria-current="page">عودت وجه</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Page Banner END -->

<!-- =======================
Page content START -->
<section class="pt-5">
    <div class="container">
        <div class="row g-4 g-sm-5">
            <!-- Main content START -->
            <div class="col-12 mb-4 mb-sm-0">
                <!-- Personal info START -->
                <div class="card card-body shadow p-4">
                    <!-- Title for transaction form -->
                    <h5 class="mb-0">عودت وجه :</h5>
                    <!-- Transaction form START -->
                    <form id="retransactionForm" method="post">
                        {% csrf_token %}
                        <div class="input-group mt-2">
                            <input id="ticketCodeInput" name="transaction_id" class="form-control" placeholder="کد رهگیری فروش" type="text">
                            <button id="applyButton" type="button" class="btn btn-primary">اعمال</button>
                        </div>
                    </form>
                </div>
            </div>

            <div id="transactionDetails" class="col-xl-8 mb-4 mb-sm-0" style="display: none;">
                <!-- Personal info START -->
                <div class="card card-body shadow p-4">
                    <!-- Transaction form END -->
                    <h5 class="">اطلاعات فاکتور ثبت شده :</h5>
                    <table class="table align-middle p-4 mb-0">
                        <!-- Table body START -->
                        <tbody class="border-top-0" id="transactionDetailsTable">
                            <!-- Table item -->
                            <tr>
                                <!-- Course item -->
                                <td>
                                    <div class="d-lg-flex align-items-center">
                                        <!-- Image -->
                                        <div class="w-100px w-md-80px mb-2 mb-md-0">
                                            <img src='{% static "assets/images/courses/4by3/08.jpg" %}' class="rounded" alt="">
                                        </div>
                                        <!-- Title -->
                                        <h6 class="mb-0 ms-lg-3 mt-2 mt-lg-0">
                                            <a href="#" style="font-size: 75%;">دوره جامع آموزش Sketch</a>
                                        </h6>
                                    </div>
                                </td>

                                <!-- Amount item -->
                                <td class="text-center">
                                    <h5 class="text-success mb-0" style="font-size: 75%;">105,000 تومان</h5>
                                </td>
                                <!-- Action item -->
                                <td>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <button class="btn btn-success btn-sm disabled"><i class="bi bi-cart"></i></button>
                                        <button class="btn btn-outline-danger btn-sm disabled" onclick="increment(this)">+</button>
                                        <button class="btn btn-outline-primary btn-sm counter" disabled>1</button>
                                        <button class="btn btn-outline-danger btn-sm disabled" onclick="decrement(this)">-</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>           
                </div>
                <hr>
                <!-- Payment method START -->
                <div class="card card-body p-4 shadow">
                    <!-- Title -->
                    <h5 class="mb-3">روش های عودت وجه :</h5>
                    <div class="col-12">
                        <div class="accordion accordion-circle" id="accordioncircle">
                            <!-- Card reader (Default) -->
                            <div class="accordion-item mb-3">
                                <h6 class="accordion-header" id="heading-card-reader">
                                    <button class="accordion-button rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-card-reader" aria-expanded="true" aria-controls="collapse-card-reader">
                                        نقدی
                                    </button>
                                </h6>
                                <div id="collapse-card-reader" class="accordion-collapse collapse show" aria-labelledby="heading-card-reader" data-bs-parent="#accordioncircle"></div>
                            </div>
                            <!-- Cash -->
                            <div class="accordion-item mb-3">
                                <h6 class="accordion-header" id="heading-cash">
                                    <button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-cash" aria-expanded="false" aria-controls="collapse-cash">
                                        کارت به کارت
                                    </button>
                                </h6>
                                <div id="collapse-cash" class="accordion-collapse collapse" aria-labelledby="heading-cash" data-bs-parent="#accordioncircle">
                                    <!-- Accordion body -->
                                    <div class="accordion-body">
                                        <!-- Form START -->
                                        <form class="row g-3">
                                            <div class="col-6">
                                                <label class="form-label"><span class="text-danger">شماره کارت مبدا :</span></label>
                                                <input type="text" id="source_card_number" class="form-control" placeholder="اختیاری" maxlength="16" minlength="16">
                                            </div>
                                            <div class="col-6">
                                                <label class="form-label"><span class="text-danger">شماره کارت مقصد :</span></label>
                                                <input type="text" id="destination_card_number" class="form-control" placeholder="اجباری" maxlength="16" minlength="16">
                                            </div>
                                            <div class="col-6">
                                                <label class="form-label"><span class="text-danger">نام صاحب حساب مبدا :</span></label>
                                                <input type="text" id="source_card_holder_name" class="form-control" placeholder="اختیاری">
                                            </div>
                                            <div class="col-6">
                                                <label class="form-label"><span class="text-danger">نام صاحب حساب مقصد :</span></label>
                                                <input type="text" id="destination_card_holder_name" class="form-control" placeholder="اجباری">
                                            </div>
                                        </form>
                                        <!-- Form END -->
                                    </div>
                                </div>
                            </div>
                            <!-- Combined payment -->
                            <div class="accordion-item mb-3">
                                <h6 class="accordion-header" id="heading-combined">
                                    <button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-combined" aria-expanded="false" aria-controls="collapse-combined">
                                        انتقال با شماره شبا
                                    </button>
                                </h6>
                                <div id="collapse-combined" class="accordion-collapse collapse" aria-labelledby="heading-combined" data-bs-parent="#accordioncircle">
                                    <!-- Accordion body -->
                                    <div class="accordion-body">
                                        <!-- Form START -->
                                        <form class="row g-3">
                                            <div class="col-6">
                                                <label class="form-label"><span class="text-danger">شماره شبا مبدا :</span></label>
                                                <input type="text" id="source_sheba_number" class="form-control" placeholder="اختیاری" maxlength="24" minlength="24">
                                            </div>
                                            <div class="col-6">
                                                <label class="form-label"><span class="text-danger">شماره شبا مقصد :</span></label>
                                                <input type="text" id="destination_sheba_number" class="form-control" placeholder="اجباری" maxlength="24" minlength="24">
                                            </div>
                                            <div class="col-6">
                                                <label class="form-label"><span class="text-danger">نام صاحب حساب مبدا :</span></label>
                                                <input type="text" id="source_card_holder_name" class="form-control" placeholder="اختیاری">
                                            </div>
                                            <div class="col-6">
                                                <label class="form-label"><span class="text-danger">نام صاحب حساب مقصد :</span></label>
                                                <input type="text" id="destination_card_holder_name" class="form-control" placeholder="اجباری">
                                            </div>
                                        </form>
                                        <!-- Form END -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Payment method END -->
            </div>
            <!-- Main content END -->

            <!-- Right sidebar START -->
            <div id="rightSidebar" class="col-lg-4" style="display: none;">
                <!-- Card total START -->
                <div class="card card-body p-4 shadow">
                    <h4 class="mb-3 fs-5 text-center">صورت حساب</h4>
                    <hr>
                    <ul class="list-group list-group-borderless mb-2">
                        <li class="list-group-item px-0 d-flex justify-content-between">
                            <span class="h6 fw-light mb-0">قیمت</span>
                            <span id="totalPrice" class="h6 fw-light mb-0 fw-bold">0 ریال</span>
                        </li>
                        <li class="list-group-item px-0 d-flex justify-content-between">
                            <span class="h6 fw-light mb-0">مالیات (%10)</span>
                            <span id="totalTax" class="h6 fw-light mb-0 fw-bold">0 ریال</span>
                        </li>
                        <li class="list-group-item px-0 d-flex justify-content-between">
                            <span class="h6 fw-light mb-0">تخفیف</span>
                            <span id="totalDiscount" class="h6 fw-light mb-0 fw-bold">0 ریال</span>
                        </li>
                        <br>
                        <li class="list-group-item px-0 d-flex justify-content-between">
                            <span class="h5 mb-0">قیمت نهایی</span>
                            <span id="finalPrice" class="text-danger h5">0 ریال</span>
                        </li>
                    </ul>
                    <hr>
                    <div class="d-grid">
                        <a type="button" id="pay-button" class="btn btn-lg btn-success">عودت وجه</a>
                        <a href='{% url "Amusement_Park:Products" %}' class="btn btn-lg btn-outline-danger">لغو</a>
                    </div>
                </div>
                <!-- Card total END -->
            </div>
            <!-- Right sidebar END -->
        </div><!-- Row END -->
    </div>
</section>
<!-- =======================
Page content END -->


{% endblock body %}


{% block style %}
		
<style>
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}
.toggle-input {
    opacity: 0;
    width: 0;
    height: 0;
}
.toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.toggle-label:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3.5px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}
.toggle-input:checked + .toggle-label {
    background-color: #4caf50;
}
.toggle-input:checked + .toggle-label:before {
    transform: translateX(25px);
}
</style>

{% endblock style %}



{% block script %}
	

<!-- JavaScript -->
<script>
	function toggleContent() {
        const toggleSwitch = document.getElementById('deviceModeToggle');
        const courseContent = document.getElementById('courseContent');

        // Show or hide the course content based on the toggle state
        if (toggleSwitch.checked) {
			courseContent.style.display = 'none'; // Hide when toggle is true
        } else {
			courseContent.style.display = 'table-row'; // Show when toggle is false
        }
    }
	
    // Initial state for course content
    window.onload = function () {
		toggleContent();
    };
	
	
	
    // Function to increment the counter
    function increment(button) {
		const counter = button.parentElement.querySelector('.counter');
        let count = parseInt(counter.innerText, 10);
        counter.innerText = count + 1;
    }
	
    // Function to decrement the counter
    function decrement(button) {
		const counter = button.parentElement.querySelector('.counter');
        let count = parseInt(counter.innerText, 10);
        if (count > 0) {
			counter.innerText = count - 1;
        }
    }
	


    // Get references to the input and button elements
    const ticketCodeInput = document.getElementById('ticketCodeInput');
    const applyButton = document.getElementById('applyButton');

    // Add an event listener to the input field
    ticketCodeInput.addEventListener('input', function() {
        // Check if the input value is a valid number
        if (ticketCodeInput.value.trim() !== '' && !isNaN(ticketCodeInput.value)) {
            // Enable the button if the input is a valid number
            applyButton.disabled = false;
        } else {
            // Disable the button if the input is empty or not a valid number
            applyButton.disabled = true;
        }
    });



    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.cart-link').forEach(link => {
            link.addEventListener('click', function(event) {
                event.preventDefault();
                fetch("{% url 'Amusement_Park:check_cart' %}", {
                    method: "GET",
                    headers: {
                        "X-CSRFToken": getCookie('csrftoken')
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.cart_empty) {
                        Swal.fire({
                            title: 'سبد خرید شما خالی است!',
                            text: 'لطفاً ابتدا محصولی به سبد خرید اضافه کنید.',
                            icon: 'warning',
                            confirmButtonText: 'باشه'
                        });
                    } else {
                        window.location.href = "{% url 'Amusement_Park:Cart' %}";
                    }
                })
                .catch(error => {
                    console.error("Error:", error);
                });
            });
        });

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    });    


    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.cart-link').forEach(link => {
            link.addEventListener('click', function(event) {
                event.preventDefault();
                fetch("{% url 'Amusement_Park:check_cart' %}", {
                    method: "GET",
                    headers: {
                        "X-CSRFToken": getCookie('csrftoken')
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.cart_empty) {
                        Swal.fire({
                            title: 'سبد خرید شما خالی است!',
                            text: 'لطفاً ابتدا محصولی به سبد خرید اضافه کنید.',
                            icon: 'warning',
                            confirmButtonText: 'باشه'
                        });
                    } else {
                        window.location.href = "{% url 'Amusement_Park:Cart' %}";
                    }
                })
                .catch(error => {
                    console.error("Error:", error);
                });
            });
        });

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    });


    {% comment %} Get Information From DB by Ajax {% endcomment %}
    
    document.getElementById('ticketCodeInput').addEventListener('input', function() {
        var applyButton = document.getElementById('applyButton');
        applyButton.disabled = this.value.trim() === '';
    });
    
    document.getElementById('applyButton').addEventListener('click', function() {
        var transactionId = document.getElementById('ticketCodeInput').value.trim();
        if (transactionId) {
            fetch(`/Amusement_Park/get_transaction_details/?transaction_id=${transactionId}`, {
                headers: { 'X-Requested-With': 'XMLHttpRequest' }
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'خطا',
                        text: data.error,
                    });
                } else {
                    Swal.fire({
                        icon: 'success',
                        title: 'موفقیت',
                        text: 'اطلاعات تراکنش با موفقیت دریافت شد.',
                    });
                    updateTransactionDetails(data);
                }
            })
            .catch(error => console.error('Error:', error));
        }
    });
    
    function updateTransactionDetails(data) {
        var tbody = document.getElementById('transactionDetailsTable');
        tbody.innerHTML = '';
    
        data.products.forEach(product => {
            var row = document.createElement('tr');
            row.innerHTML = `
            <td>
                <div class="d-lg-flex align-items-center">
                    <div class="w-100px w-md-80px mb-2 mb-md-0">
                            <img src="${product.image}" class="rounded" alt="">
                        </div>
                        <h6 class="mb-0 ms-lg-3 mt-2 mt-lg-0">    
                            <a href="#" style="font-size: 75%;">${product.name}</a>
                        </h6>
                    </div>
                </td>
                <td class="text-center">
                    <h5 class="text-success mb-0" style="font-size: 75%;">${parseInt(product.total_price).toLocaleString()} ریال</h5>
                </td>
                <td>
                    <div class="d-flex justify-content-between align-items-center">
                        <button class="btn btn-success btn-sm disabled"><i class="bi bi-cart"></i></button>
                        <button class="btn btn-outline-danger btn-sm disabled" onclick="increment(this)">+</button>
                        <button class="btn btn-outline-primary btn-sm counter" disabled>${product.quantity}</button>
                        <button class="btn btn-outline-danger btn-sm disabled" onclick="decrement(this)">-</button>
                    </div>
                </td>
                `;
                tbody.appendChild(row);
            });
            
        document.getElementById('totalPrice').innerText = Number(data.product_prices).toLocaleString('fa-IR') + ' ریال';
        document.getElementById('totalTax').innerText = Number(data.tax).toLocaleString('fa-IR') + ' ریال';
        document.getElementById('totalDiscount').innerText = Number(data.discount).toLocaleString('fa-IR') + ' ریال';
        document.getElementById('finalPrice').innerText = Number(data.price).toLocaleString('fa-IR') + ' ریال';
    
        document.getElementById('transactionDetails').style.display = 'block';
        document.getElementById('rightSidebar').style.display = 'block';
    
        document.getElementById('applyButton').disabled = true;
    }
    
    
    {% comment %} Save Information in DB {% endcomment %}
    
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById("pay-button").addEventListener("click", function(event) {

            let selectedPayment = document.querySelector(".accordion-collapse.show");
            let requiredFields = selectedPayment ? selectedPayment.querySelectorAll("input[placeholder='اجباری']") : [];
            let allFilled = true;
        
            requiredFields.forEach(input => {
                if (input.value.trim() === "") {
                    allFilled = false;
                }
            });
        
            if (!allFilled) {
                event.preventDefault();
                Swal.fire({
                    icon: "warning",
                    title: "خطا!",
                    text: "لطفاً همه فیلدهای اجباری را پر کنید.",
                    confirmButtonText: "باشه"
                });
                return; 
            }
        
        
            const transactionInput = document.getElementById('ticketCodeInput');
            if (!transactionInput) {
                console.error("المان 'ticketCodeInput' یافت نشد.");
                return;
            }
            const transactionId = transactionInput.value.trim();
        
            let refundType = 'نقد'; // پیش‌فرض
            if (document.getElementById('collapse-cash') && document.getElementById('collapse-cash').classList.contains('show')) {
                refundType = 'کارت به کارت';
            } else if (document.getElementById('collapse-combined') && document.getElementById('collapse-combined').classList.contains('show')) {
                refundType = 'انتقال با شماره شبا';
            }
        
            const sourceCardHolderName = document.getElementById('source_card_holder_name') ? document.getElementById('source_card_holder_name').value : '';
            const destinationCardHolderName = document.getElementById('destination_card_holder_name') ? document.getElementById('destination_card_holder_name').value : '';
            const sourceCardNumber = document.getElementById('source_card_number') ? document.getElementById('source_card_number').value : '';
            const destinationCardNumber = document.getElementById('destination_card_number') ? document.getElementById('destination_card_number').value : '';
            const sourceShebaNumber = document.getElementById('source_sheba_number') ? document.getElementById('source_sheba_number').value : '';
            const destinationShebaNumber = document.getElementById('destination_sheba_number') ? document.getElementById('destination_sheba_number').value : '';
        
            const formData = new FormData();
            formData.append('transaction_id', transactionId);
            formData.append('refund_type', refundType);
            formData.append('source_card_holder_name', sourceCardHolderName);
            formData.append('destination_card_holder_name', destinationCardHolderName);
            formData.append('source_card_number', sourceCardNumber);
            formData.append('destination_card_number', destinationCardNumber);
            formData.append('source_sheba_number', sourceShebaNumber);
            formData.append('destination_sheba_number', destinationShebaNumber);
        
            fetch('{% url "Amusement_Park:save_refund" %}', {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': getCookie('csrftoken')
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    Swal.fire({
                        icon: 'success',
                        title: 'موفقیت',
                        text: data.message,
                    }).then(() => {
                        window.location.href = "{% url 'Amusement_Park:Products' %}";
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'خطا',
                        text: data.message,
                    });
                }
            })
            .catch(error => {
                console.error('Error:', error);
                Swal.fire({
                    icon: 'error',
                    title: 'خطا',
                    text: 'خطایی در ارسال اطلاعات رخ داده است.',
                });
            });
        });
        
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    });
    
    

    
    
</script>
{% endblock script %}