{% extends 'common.html' %}
{% load static %}
{% block body %}

<!-- =======================
Page Banner START -->
<section class="py-0">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="bg-light p-4 text-center rounded-3">
					<h1 class="m-0 fs-2">عودت وجه</h1>
					<div class="d-flex justify-content-center">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb breadcrumb-dots mb-0">
								<li class="breadcrumb-item"><a href="#">صفحه اصلی</a></li>
								<li class="breadcrumb-item active" aria-current="page">عودت وجه</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Page Banner END -->

<!-- =======================
Page content START -->
<section class="pt-5">
	<div class="container">
	
		<div class="row g-4 g-sm-5">
			<!-- Main content START -->
			<div class="col-lg-8 mb-4 mb-sm-0">
				<div class="card card-body p-4 shadow">
					<div class="table-responsive border-0 rounded-3">
						<!-- Table START -->
						<table class="table align-middle p-4 mb-0">
							<!-- Table head -->
                            <h5 class="">خرید های ثبت شده :</h5>
							<!-- Table body START -->
							<tbody class="border-top-0">
								<!-- Table item -->
								<tr>
									<!-- Course item -->
									<td>
										<div class="d-lg-flex align-items-center">
											<!-- Image -->
											<div class="w-100px w-md-80px mb-2 mb-md-0">
												<img src='{% static "assets/images/courses/4by3/08.jpg" %}' class="rounded" alt="">
											</div>
											<!-- Title -->
											<h6 class="mb-0 ms-lg-3 mt-2 mt-lg-0">	
												<a href="#" style="font-size: 75%;">دوره جامع آموزش Sketch</a>
											</h6>
										</div>
									</td>

									<!-- Amount item -->
									<td class="text-center">
										<h5 class="text-success mb-0" style="font-size: 75%;">105,000 تومان</h5>
									</td>
									<!-- Action item -->
									<td>
										<div class="d-flex justify-content-between align-items-center">
											<button class="btn btn-outline-warning btn-sm disabled"><i class="fas fa-trash"></i></button>
											<button class="btn btn-outline-danger btn-sm disabled" onclick="increment(this)">+</button>
											<button class="btn btn-outline-primary btn-sm counter" disabled>1</button>
											<button class="btn btn-outline-danger btn-sm disabled" onclick="decrement(this)">-</button>
										</div>
									</td>
								</tr>

							</tbody>
						</table>
					</div>
                    <br>
                    <hr>
                    <br>

				</div>
			</div>
			<!-- Main content END -->

			<!-- Right sidebar START -->
			<div class="col-lg-4">
				<!-- Card total START -->
				<div class="card card-body p-4 shadow">
					<!-- Title -->
					<h4 class="mb-3 fs-5 text-center">صورت حساب ثبت شده</h4>
					<hr>

					<!-- Price and detail -->
					<ul class="list-group list-group-borderless mb-2">
						<li class="list-group-item px-0 d-flex justify-content-between">
							<span class="h6 fw-light mb-0">قیمت</span>
							<span class="h6 fw-light mb-0 fw-bold">850,000 تومان</span>
						</li>
						<li class="list-group-item px-0 d-flex justify-content-between">
							<span class="h6 fw-light mb-0">مالیات</span>
							<span class="h6 fw-light mb-0 fw-bold">85,000 تومان</span>
						</li>
						<li class="list-group-item px-0 d-flex justify-content-between">
							<span class="h6 fw-light mb-0">تخفیف</span>
							<span class="h6 fw-light mb-0 fw-bold">250,000 تومان</span>
						</li>
						<br>
						<li class="list-group-item px-0 d-flex justify-content-between">
							<span class="h5 mb-0">قیمت نهایی</span>
							<span class="text-danger h5">500,000 تومان</span>
						</li>
					</ul>
					<hr>

					<!-- Button -->
					<div class="d-grid">
						<a href="checkout.html" class="btn btn-lg btn-success disabled">تسویه شده</a>
					</div>
				</div>
				<!-- Card total END -->
			</div>
			<!-- Right sidebar END -->            

<!-- ـــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ -->

            <!-- Main Content -->
            <div class="col-lg-8 mb-4 mb-sm-0">
                <div class="card card-body p-4 shadow">
                    <div class="table-responsive border-0 rounded-3">
                        <!-- Table START -->
                        <h5 class="mb-4">عودت وجه :</h5>
                        <table class="table align-middle p-4 mb-0">
                            <!-- Table body START -->
                            <tbody class="border-top-0">
                                <!-- Toggle Switch -->
                                <tr>
                                    <td colspan="3" class="bg-light-input py-2">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <label class="form-label mb-0">عودت وجه کل فاکتور :</label>
                                            <div class="toggle-switch">
                                                <input type="checkbox" id="deviceModeToggle" class="toggle-input" onchange="toggleContent()">
                                                <label for="deviceModeToggle" class="toggle-label"></label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                    
                                <!-- Course Content -->
                                <tr id="courseContent">
                                    <!-- Course item -->
                                    <td>
                                        <div class="d-lg-flex align-items-center">
                                            <!-- Image -->
                                            <div class="w-100px w-md-80px mb-2 mb-md-0">
                                                <img src='{% static "assets/images/courses/4by3/08.jpg" %}' class="rounded" alt="">
                                            </div>
                                            <!-- Title -->
                                            <h6 class="mb-0 ms-lg-3 mt-2 mt-lg-0">
                                                <a href="#" style="font-size: 75%;">دوره جامع آموزش Sketch</a>
                                            </h6>
                                        </div>
                                    </td>
                                    <!-- Amount item -->
                                    <td class="text-center">
                                        <h5 class="text-success mb-0" style="font-size: 75%;">105,000 تومان</h5>
                                    </td>
                                    <!-- Action item -->
                                    <td>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <button class="btn btn-outline-warning btn-sm"><i class="fas fa-trash"></i></button>
                                            <button class="btn btn-outline-danger btn-sm" onclick="increment(this)">+</button>
                                            <button class="btn btn-outline-primary btn-sm counter" disabled>0</button>
                                            <button class="btn btn-outline-danger btn-sm" onclick="decrement(this)">-</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    

                    <!-- Payment method START -->
                    <div class="row g-3 mt-4">
                        <!-- Title -->
                        <h5 class="mb-3">روش های عودت وجه :</h5>
                        <div class="col-12">
                            <div class="accordion accordion-circle" id="accordioncircle">
                                <!-- Card reader (Default) -->
                                <div class="accordion-item mb-3">
                                    <h6 class="accordion-header" id="heading-card-reader">
                                        <button class="accordion-button rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-card-reader" aria-expanded="true" aria-controls="collapse-card-reader">
                                            نقدی
                                        </button>
                                    </h6>
                                    <div id="collapse-card-reader" class="accordion-collapse collapse show" aria-labelledby="heading-card-reader" data-bs-parent="#accordioncircle"></div>
                                </div>
                                <!-- Cash -->
                                <div class="accordion-item mb-3">
                                    <h6 class="accordion-header" id="heading-cash">
                                        <button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-cash" aria-expanded="false" aria-controls="collapse-cash">
                                            کارت به کارت
                                        </button>
                                    </h6>
                                    <div id="collapse-cash" class="accordion-collapse collapse" aria-labelledby="heading-cash" data-bs-parent="#accordioncircle">
                                        <!-- Accordion body -->
                                        <div class="accordion-body">
                                            <!-- Form START -->
                                            <form class="row g-3">
                                                <div class="col-6">
                                                    <label class="form-label"><span class="text-danger">شماره کارت مبدا :</span></label>
                                                    <input type="text" class="form-control" aria-label="cash amount" placeholder="اختیاری">
                                                </div>
                                                <div class="col-6">
                                                    <label class="form-label"><span class="text-danger">شماره کارت مقصد :</span></label>
                                                    <input type="text" class="form-control" aria-label="card amount" placeholder="اجباری">
                                                </div>
                                                <div class="col-6">
                                                    <label class="form-label"><span class="text-danger">نام صاحب حساب مبدا :</span></label>
                                                    <input type="text" class="form-control" aria-label="cash amount" placeholder="اختیاری">
                                                </div>
                                                <div class="col-6">
                                                    <label class="form-label"><span class="text-danger">نام صاحب حساب مقصد :</span></label>
                                                    <input type="text" class="form-control" aria-label="card amount" placeholder="اجباری">
                                                </div>
                                            </form>
                                            <!-- Form END -->
                                        </div>
                                    </div>
                                </div>
                                <!-- Combined payment -->
                                <div class="accordion-item mb-3">
                                    <h6 class="accordion-header" id="heading-combined">
                                        <button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-combined" aria-expanded="false" aria-controls="collapse-combined">
                                            انتقال با شماره شبا
                                        </button>
                                    </h6>
                                    <div id="collapse-combined" class="accordion-collapse collapse" aria-labelledby="heading-combined" data-bs-parent="#accordioncircle">
                                        <!-- Accordion body -->
                                        <div class="accordion-body">
                                            <!-- Form START -->
                                            <form class="row g-3">
                                                <div class="col-6">
                                                    <label class="form-label"><span class="text-danger">شماره کارت مبدا :</span></label>
                                                    <input type="text" class="form-control" aria-label="cash amount" placeholder="اختیاری">
                                                </div>
                                                <div class="col-6">
                                                    <label class="form-label"><span class="text-danger">شماره شبا مقصد :</span></label>
                                                    <input type="text" class="form-control" aria-label="card amount" placeholder="اجباری">
                                                </div>
                                                <div class="col-6">
                                                    <label class="form-label"><span class="text-danger">نام صاحب حساب مبدا :</span></label>
                                                    <input type="text" class="form-control" aria-label="cash amount" placeholder="اختیاری">
                                                </div>
                                                <div class="col-6">
                                                    <label class="form-label"><span class="text-danger">نام صاحب حساب مقصد :</span></label>
                                                    <input type="text" class="form-control" aria-label="card amount" placeholder="اجباری">
                                                </div>
                                            </form>
                                            <!-- Form END -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Payment method END -->
                </div>
            </div>
            <!-- Main content END -->


            <!-- Right sidebar START -->
			<div class="col-lg-4">
				<!-- Card total START -->
				<div class="card card-body p-4 shadow">
					<!-- Title -->
					<h4 class="mb-3 fs-5 text-center">صورت حساب عودت وجه</h4>
					<hr>

					<!-- Price and detail -->
					<ul class="list-group list-group-borderless mb-2">
						<li class="list-group-item px-0 d-flex justify-content-between">
							<span class="h6 fw-light mb-0">قیمت</span>
							<span class="h6 fw-light mb-0 fw-bold">850,000 تومان</span>
						</li>
						<li class="list-group-item px-0 d-flex justify-content-between">
							<span class="h6 fw-light mb-0">تخفیف</span>
							<span class="h6 fw-light mb-0 fw-bold">150,000 + تومان</span>
						</li>
						<br>
						<li class="list-group-item px-0 d-flex justify-content-between">
							<span class="h5 mb-0">قیمت نهایی</span>
							<span class="text-danger h5">1,000,000 تومان</span>
						</li>
					</ul>
					<hr>

					<!-- Button -->
					<div class="d-grid">
						<a href="checkout.html" class="btn btn-lg btn-success">ثبت عودت وجه</a>
					</div>
				</div>
				<!-- Card total END -->
			</div>
			<!-- Right sidebar END -->

		</div><!-- Row END -->
	</div>
</section>
<!-- =======================
Page content END -->


{% endblock body %}


{% block style %}
		
<style>
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}
.toggle-input {
    opacity: 0;
    width: 0;
    height: 0;
}
.toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.toggle-label:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3.5px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}
.toggle-input:checked + .toggle-label {
    background-color: #4caf50;
}
.toggle-input:checked + .toggle-label:before {
    transform: translateX(25px);
}
</style>

{% endblock style %}



{% block script %}
	

<!-- JavaScript -->
<script>
	function toggleContent() {
        const toggleSwitch = document.getElementById('deviceModeToggle');
        const courseContent = document.getElementById('courseContent');

        // Show or hide the course content based on the toggle state
        if (toggleSwitch.checked) {
			courseContent.style.display = 'none'; // Hide when toggle is true
        } else {
			courseContent.style.display = 'table-row'; // Show when toggle is false
        }
    }
	
    // Initial state for course content
    window.onload = function () {
		toggleContent();
    };
	
	
	
	
	<!-- _________________________________________________________ -->
	
	

	
    // Function to increment the counter
    function increment(button) {
		const counter = button.parentElement.querySelector('.counter');
        let count = parseInt(counter.innerText, 10);
        counter.innerText = count + 1;
    }
	
    // Function to decrement the counter
    function decrement(button) {
		const counter = button.parentElement.querySelector('.counter');
        let count = parseInt(counter.innerText, 10);
        if (count > 0) {
			counter.innerText = count - 1;
        }
    }
	
	
	
	
	
	
    document.querySelectorAll('input').forEach(input => {
        input.addEventListener('input', function() {
			const buttonId = 'btn-' + this.id.split('-')[1];
            const tipId = 'tip-' + this.id.split('-')[1];
            const button = document.getElementById(buttonId);
            const tip = document.getElementById(tipId);
            
            // Reset previous form if another form is being typed in
            document.querySelectorAll('input').forEach(otherInput => {
				if (otherInput !== this && otherInput.value.trim() !== '') {
					otherInput.value = '';
                    document.getElementById('btn-' + otherInput.id.split('-')[1]).setAttribute('disabled', true);
                    document.getElementById('tip-' + otherInput.id.split('-')[1]).style.display = 'none';
                }
            });
			
            // Enable/Disable button and show tip
            if (this.value.trim() !== '') {
				button.removeAttribute('disabled');
                tip.style.display = 'inline';
                tip.textContent = this.getAttribute('data-tip');
            } else {
				button.setAttribute('disabled', true);
                tip.style.display = 'none';
            }
        });
    });
</script>
{% endblock script %}