{% extends 'common.html' %}
{% load static %}
{% block active_buy_retransaction %}active{% endblock active_buy_retransaction %}
{% block body %}

<!-- =======================
Page Banner START -->
<section class="py-0">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="bg-light p-4 text-center rounded-3">
					<h1 class="m-0 fs-2">ثبت مجدد تراکنش</h1>
					<!-- Breadcrumb -->
					<div class="d-flex justify-content-center">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb breadcrumb-dots mb-0">
								<li class="breadcrumb-item"><a href="{% url "Amusement_Park:Products" %}">صفحه اصلی</a></li>
								<li class="breadcrumb-item active" aria-current="page">ثبت مجدد تراکنش</a></li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Page Banner END -->

<!-- =======================
Page content START -->
<section class="pt-5">
	<div class="container">
		<div class="row g-4 g-sm-5">
			<!-- Main content START -->
			<div class="col-xl-8 mb-4 mb-sm-0">

				<!-- Personal info START -->
				<div class="card card-body shadow p-4">

					<!-- Title for transaction form -->
					<h5 class="mb-0">ثبت مجدد تراکنش :</h5>
						
					<!-- Transaction form START -->
					<div class="input-group mt-2">
						<input id="ticketCodeInput" class="form-control" placeholder="کد رهگیری فروش" type="text">
						<button id="applyButton" type="button" class="btn btn-primary" disabled>اعمال</button>
					</div>
					<!-- Transaction form END -->
					<table class="table align-middle p-4 mb-0">
						<!-- Table head -->
						<br>
						<hr>
						<br>
						<h5 class="">اطلاعات فاکتور ثبت شده :</h5>
						<!-- Table body START -->
						<tbody class="border-top-0">
							<!-- Table item -->
							<tr>
								<!-- Course item -->
								<td>
									<div class="d-lg-flex align-items-center">
										<!-- Image -->
										<div class="w-100px w-md-80px mb-2 mb-md-0">
											<img src='{% static "assets/images/courses/4by3/08.jpg" %}' class="rounded" alt="">
										</div>
										<!-- Title -->
										<h6 class="mb-0 ms-lg-3 mt-2 mt-lg-0">	
											<a href="#" style="font-size: 75%;">دوره جامع آموزش Sketch</a>
										</h6>
									</div>
								</td>

								<!-- Amount item -->
								<td class="text-center">
									<h5 class="text-success mb-0" style="font-size: 75%;">105,000 تومان</h5>
								</td>
								<!-- Action item -->
								<td>
									<div class="d-flex justify-content-between align-items-center">
										<button class="btn btn-outline-warning btn-sm disabled"><i class="fas fa-trash"></i></button>
										<button class="btn btn-outline-danger btn-sm disabled" onclick="increment(this)">+</button>
										<button class="btn btn-outline-primary btn-sm counter" disabled>1</button>
										<button class="btn btn-outline-danger btn-sm disabled" onclick="decrement(this)">-</button>
									</div>
								</td>
							</tr>

						</tbody>
					</table>

					<br>

					<div class="row">
						<div class="col-md-6 bg-light-input">
							<label for="">* تاریخ ثبت فاکتور :</label>
							<input type="text" class="form-control" id="yourName" readonly value="">
						</div>
						
						<div class="col-md-6 bg-light-input">
							<label for="">* شماره تماس :</label>
							<input type="text" class="form-control" id="yourName" readonly value="">
						</div>

						<div class="col-md-6 bg-light-input">
							<label for="">* نام :</label>
							<input type="text" class="form-control" id="yourName" readonly value="">
						</div>

						<div class="col-md-6 bg-light-input">
							<label for="">* نام خانوادگی :</label>
							<input type="text" class="form-control" id="yourName" readonly value="">
						</div>
					</div>
					<hr>
					<!-- Payment method START -->
					<div class="row g-3 mt-4">
						<!-- Title -->
						<h5>روش های پرداخت :</h5>
						<div class="col-12">
							<div class="accordion accordion-circle" id="accordioncircle">

								<!-- Card reader (Default) -->
								<div class="accordion-item mb-3">
									<h6 class="accordion-header" id="heading-card-reader">
										<button class="accordion-button rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-card-reader" aria-expanded="true" aria-controls="collapse-card-reader">
											دستگاه کارتخوان
										</button>
									</h6>
									<div id="collapse-card-reader" class="accordion-collapse collapse show" aria-labelledby="heading-card-reader" data-bs-parent="#accordioncircle">
									</div>
								</div>

								{% if request.user.is_superuser or request.user.is_staff %}
									<!-- Cash -->
									<div class="accordion-item mb-3">
										<h6 class="accordion-header" id="heading-cash">
											<button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-cash" aria-expanded="false" aria-controls="collapse-cash">
												نقدی
											</button>
										</h6>
										<div id="collapse-cash" class="accordion-collapse collapse" aria-labelledby="heading-cash" data-bs-parent="#accordioncircle">
										</div>
									</div>

									<!-- Combined payment -->
									<div class="accordion-item mb-3">
										<h6 class="accordion-header" id="heading-combined">
											<button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-combined" aria-expanded="false" aria-controls="collapse-combined">
												ترکیبی
											</button>
										</h6>
										<div id="collapse-combined" class="accordion-collapse collapse" aria-labelledby="heading-combined" data-bs-parent="#accordioncircle">
											<!-- Accordion body -->
											<div class="accordion-body">
												<!-- Form START -->
												<form class="row g-3">
													<div class="col-6">
														<label class="form-label"><span class="text-danger">* مقدار مبلغ نقدی</span></label>
														<input type="text" class="form-control" aria-label="cash amount" placeholder="مبلغ نقدی را وارد کنید">
													</div>
													<div class="col-6">
														<label class="form-label"><span class="text-danger">* مقدار مبلغ پرداخت با کارتخوان</span></label>
														<input type="text" class="form-control" aria-label="card amount" placeholder="مبلغ کارتخوان را وارد کنید">
													</div>
												</form>
												<!-- Form END -->
											</div>
										</div>
									</div>
								{% endif %}

								<!-- Combined payment END -->
							</div>
						</div>
					</div>
					<!-- Payment method END -->

				</div>
				<!-- Personal info END -->
			</div>
			<!-- Main content END -->

			<!-- Right sidebar START -->
			<div class="col-lg-4">
				<!-- Card total START -->
				<div class="card card-body p-4 shadow">
					<!-- Title -->
					<h4 class="mb-3 fs-5 text-center">صورت حساب نهایی</h4>
					<hr>

					<!-- Price and detail -->
					<ul class="list-group list-group-borderless mb-2">
						<li class="list-group-item px-0 d-flex justify-content-between">
							<span class="h5 mb-0">قیمت نهایی</span>
							<span class="text-danger h5">500,000 تومان</span>
						</li>
					</ul>

					<!-- Button -->
					<div class="d-grid">
						<a href="" class="btn btn-lg btn-success">تسویه حساب</a>
					</div>
				</div>
				<!-- Card total END -->
			</div>
			<!-- Right sidebar END -->

		</div><!-- Row END -->
	</div>
</section>
<!-- =======================
Page content END -->


{% endblock body %}


{% block script %}
<script>
	// Get the input field and button elements
	const ticketCodeInput = document.getElementById('ticketCodeInput');
	const applyButton = document.getElementById('applyButton');

	// Add an event listener to the input field
	ticketCodeInput.addEventListener('input', function() {
		// Check if the input contains a number
		if (ticketCodeInput.value.trim() !== '' && !isNaN(ticketCodeInput.value)) {
			applyButton.disabled = false;  // Enable the button if there's a number
		} else {
			applyButton.disabled = true;   // Disable the button if there's no valid number
		}
	});
</script>
{% endblock script %}
	