{% extends "admin/change_form.html" %}
{% load humanize %}

{% block object-tools-items %}
    {{ block.super }}
    <li>
        <a href="{{original.get_free_transaction_url}}"  class="custom-button">
            ثبت تراکنش اضافی
       </a>
    </li>
    <li>
        <a href="{{original.get_print_url}}" target='_blank' class="custom-button">
             چاپ تیکت
        </a>
    </li>

{% endblock %}



{% block after_related_objects %}

<p>وضعیت: {{original.get_ticket_status}}</p>
<p>جمع کل تراکنش های این بلیت: {{original.get_total_transactions|intcomma:False|default_if_none:"0" }}</p>

{% endblock %}
