{% extends "admin/change_list.html" %}

{% load humanize %}

{% block result_list %}
{{ block.super }}
<table class="totals">
    <tfoot>
        <tr><td colspan="3"><b>محاسبه فروش ها بر حسب فروش و حسابداری :</b><td>✅</td></tr>
        <tr><td colspan="3"><b>مجموع قیمت محصولات : </b><td>{{ total_product_prices|intcomma:False|default_if_none:"0" }} ریال</td></tr>
        <tr><td colspan="3"><b>مجموع مالیات ها : </b><td>{{ total_tax|intcomma:False|default_if_none:"0" }} ریال</td></tr>
        <tr><td colspan="3"><b>مجموع تخفیف ها : </b><td>{{ total_discount|intcomma:False|default_if_none:"0" }} ریال</td></tr>
        <tr><td colspan="3"><b>قیمت محصولات + قیمت مالیات - قیمت تخفیف ها = </b><td>{{ total_price|intcomma:False|default_if_none:"0" }} ریال</td></tr>
        <tr><td colspan="3"><b>محاسبه فروش ها بر حسب نوع فروش :</b><td>✅</td></tr>
        <tr><td colspan="3"><b>مجموع فروش ها با دستگاه کارتخوان : </b><td>{{ total_pc_sales|intcomma:False|default_if_none:"0" }} ریال</td></tr>
        <tr><td colspan="3"><b>مجموع فروش های نقدی : </b><td>{{ total_cash_sales|intcomma:False|default_if_none:"0" }} ریال</td></tr>
        <tr><td colspan="3"><b>مجموع فروش های ترکیبی : </b><td>{{ total_mix_sales|intcomma:False|default_if_none:"0" }} ریال</td></tr>
        <tr><td colspan="3"><b>مجموع پرداخت‌های کارتخوان در فروش ترکیبی : </b><td>{{ total_mix_pc|intcomma:False|default_if_none:"0" }} ریال</td></tr>
        <tr><td colspan="3"><b>مجموع پرداخت‌های نقدی در فروش ترکیبی : </b><td>{{ total_mix_cash|intcomma:False|default_if_none:"0" }} ریال</td></tr>    
    </tfoot>
</table>
{% endblock %}
