{% extends "admin/change_list.html" %}

{% load humanize %}

{% block result_list %}
{{ block.super }}
{% if request.user.is_superuser %}
<table class="totals" style="margin-top: 1em; border-collapse: collapse; width: 100%;">
    <tfoot>
        
        <tr><td colspan="4" style="padding-top:1em; color: red;"><b>آمار فروش ۲۴ ساعت گذشته:</b></td></tr>
        <tr>
            <td colspan="3"><b>مجموع قیمت محصولات :</b></td>
            <td>{{ total_product_prices_24h|intcomma:False|default_if_none:"0" }} ریال</td>
        </tr>
        <tr>
            <td colspan="3"><b>مجموع مالیات‌ها :</b></td>
            <td>{{ total_tax_24h|intcomma:False|default_if_none:"0" }} ریال</td>
        </tr>
        <tr>
            <td colspan="3"><b>مجموع تخفیف‌ها :</b></td>
            <td>{{ total_discount_24h|intcomma:False|default_if_none:"0" }} ریال</td>
        </tr>
        <tr>
            <td colspan="3"><b>(قیمت محصولات + مالیات) – تخفیف‌ها =</b></td>
            <td>{{ total_price_24h|intcomma:False|default_if_none:"0" }} ریال</td>
        </tr>
        <tr>
            <td colspan="3"><b>مجموع فروش‌ها با دستگاه کارتخوان :</b></td>
            <td>{{ total_pc_sales_24h|intcomma:False|default_if_none:"0" }} ریال</td>
        </tr>
        <tr>
            <td colspan="3"><b>مجموع فروش‌های نقدی :</b></td>
            <td>{{ total_cash_sales_24h|intcomma:False|default_if_none:"0" }} ریال</td>
        </tr>
        <tr>
            <td colspan="3"><b>مجموع فروش‌های ترکیبی :</b></td>
            <td>{{ total_mix_sales_24h|intcomma:False|default_if_none:"0" }} ریال</td>
        </tr>
        <tr>
            <td colspan="3"><b>پرداخت کارتخوان در فروش ترکیبی :</b></td>
            <td>{{ total_mix_pc_24h|intcomma:False|default_if_none:"0" }} ریال</td>
        </tr>
        <tr>
            <td colspan="3"><b>پرداخت نقدی در فروش ترکیبی :</b></td>
            <td>{{ total_mix_cash_24h|intcomma:False|default_if_none:"0" }} ریال</td>
        </tr>
        
        
        <tr><td colspan="4" style="padding-top:1em; color: red;"><b>آمار فروش ۱۶۸ ساعت گذشته (۷ روز اخیر):</b></td></tr>
        <tr>
            <td colspan="3"><b>مجموع قیمت محصولات :</b></td>
            <td>{{ total_product_prices_168h|intcomma:False|default_if_none:"0" }} ریال</td>
        </tr>
        <tr>
            <td colspan="3"><b>مجموع مالیات‌ها :</b></td>
            <td>{{ total_tax_168h|intcomma:False|default_if_none:"0" }} ریال</td>
        </tr>
        <tr>
            <td colspan="3"><b>مجموع تخفیف‌ها :</b></td>
            <td>{{ total_discount_168h|intcomma:False|default_if_none:"0" }} ریال</td>
        </tr>
        <tr>
            <td colspan="3"><b>(قیمت محصولات + مالیات) – تخفیف‌ها =</b></td>
            <td>{{ total_price_168h|intcomma:False|default_if_none:"0" }} ریال</td>
        </tr>
        <tr>
            <td colspan="3"><b>مجموع فروش‌ها با دستگاه کارتخوان :</b></td>
            <td>{{ total_pc_sales_168h|intcomma:False|default_if_none:"0" }} ریال</td>
        </tr>
        <tr>
            <td colspan="3"><b>مجموع فروش‌های نقدی :</b></td>
            <td>{{ total_cash_sales_168h|intcomma:False|default_if_none:"0" }} ریال</td>
        </tr>
        <tr>
            <td colspan="3"><b>مجموع فروش‌های ترکیبی :</b></td>
            <td>{{ total_mix_sales_168h|intcomma:False|default_if_none:"0" }} ریال</td>
        </tr>
        <tr>
            <td colspan="3"><b>پرداخت کارتخوان در فروش ترکیبی :</b></td>
            <td>{{ total_mix_pc_168h|intcomma:False|default_if_none:"0" }} ریال</td>
        </tr>
        <tr>
            <td colspan="3"><b>پرداخت نقدی در فروش ترکیبی :</b></td>
            <td>{{ total_mix_cash_168h|intcomma:False|default_if_none:"0" }} ریال</td>
        </tr>
        
        
        <tr><td colspan="4" style="padding-top:1em; color: red;"><b>آمار فروش ۷۲۰ ساعت گذشته (۳۰ روز اخیر):</b></td></tr>
        <tr>
            <td colspan="3"><b>مجموع قیمت محصولات :</b></td>
            <td>{{ total_product_prices_720h|intcomma:False|default_if_none:"0" }} ریال</td>
        </tr>
        <tr>
            <td colspan="3"><b>مجموع مالیات‌ها :</b></td>
            <td>{{ total_tax_720h|intcomma:False|default_if_none:"0" }} ریال</td>
        </tr>
        <tr>
            <td colspan="3"><b>مجموع تخفیف‌ها :</b></td>
            <td>{{ total_discount_720h|intcomma:False|default_if_none:"0" }} ریال</td>
        </tr>
        <tr>
            <td colspan="3"><b>(قیمت محصولات + مالیات) – تخفیف‌ها =</b></td>
            <td>{{ total_price_720h|intcomma:False|default_if_none:"0" }} ریال</td>
        </tr>
        <tr>
            <td colspan="3"><b>مجموع فروش‌ها با دستگاه کارتخوان :</b></td>
            <td>{{ total_pc_sales_720h|intcomma:False|default_if_none:"0" }} ریال</td>
        </tr>
        <tr>
            <td colspan="3"><b>مجموع فروش‌های نقدی :</b></td>
            <td>{{ total_cash_sales_720h|intcomma:False|default_if_none:"0" }} ریال</td>
        </tr>
        <tr>
            <td colspan="3"><b>مجموع فروش‌های ترکیبی :</b></td>
            <td>{{ total_mix_sales_720h|intcomma:False|default_if_none:"0" }} ریال</td>
        </tr>
        <tr>
            <td colspan="3"><b>پرداخت کارتخوان در فروش ترکیبی :</b></td>
            <td>{{ total_mix_pc_720h|intcomma:False|default_if_none:"0" }} ریال</td>
        </tr>
        <tr>
            <td colspan="3"><b>پرداخت نقدی در فروش ترکیبی :</b></td>
            <td>{{ total_mix_cash_720h|intcomma:False|default_if_none:"0" }} ریال</td>
        </tr>
        
        
        <tr><td colspan="4" style="padding-top:1em; color: red;"><b>آمار فروش ۸۷۶۰ ساعت گذشته (یک سال اخیر):</b></td></tr>
        <tr>
            <td colspan="3"><b>مجموع قیمت محصولات :</b></td>
            <td>{{ total_product_prices_8760h|intcomma:False|default_if_none:"0" }} ریال</td>
        </tr>
        <tr>
            <td colspan="3"><b>مجموع مالیات‌ها :</b></td>
            <td>{{ total_tax_8760h|intcomma:False|default_if_none:"0" }} ریال</td>
        </tr>
        <tr>
            <td colspan="3"><b>مجموع تخفیف‌ها :</b></td>
            <td>{{ total_discount_8760h|intcomma:False|default_if_none:"0" }} ریال</td>
        </tr>
        <tr>
            <td colspan="3"><b>(قیمت محصولات + مالیات) – تخفیف‌ها =</b></td>
            <td>{{ total_price_8760h|intcomma:False|default_if_none:"0" }} ریال</td>
        </tr>
        <tr>
            <td colspan="3"><b>مجموع فروش‌ها با دستگاه کارتخوان :</b></td>
            <td>{{ total_pc_sales_8760h|intcomma:False|default_if_none:"0" }} ریال</td>
        </tr>
        <tr>
            <td colspan="3"><b>مجموع فروش‌های نقدی :</b></td>
            <td>{{ total_cash_sales_8760h|intcomma:False|default_if_none:"0" }} ریال</td>
        </tr>
        <tr>
            <td colspan="3"><b>مجموع فروش‌های ترکیبی :</b></td>
            <td>{{ total_mix_sales_8760h|intcomma:False|default_if_none:"0" }} ریال</td>
        </tr>
        <tr>
            <td colspan="3"><b>پرداخت کارتخوان در فروش ترکیبی :</b></td>
            <td>{{ total_mix_pc_8760h|intcomma:False|default_if_none:"0" }} ریال</td>
        </tr>
        <tr>
            <td colspan="3"><b>پرداخت نقدی در فروش ترکیبی :</b></td>
            <td>{{ total_mix_cash_8760h|intcomma:False|default_if_none:"0" }} ریال</td>
        </tr>
        
        
        <tr>
            <td colspan="3" style="padding-top:1em; color: red;"><b>آمار کل فروش ها:</b></td>
        </tr>
        <tr>
            <td colspan="3"><b>مجموع قیمت محصولات :</b></td>
            <td>{{ total_product_prices|intcomma:False|default_if_none:"0" }} ریال</td>
        </tr>
        <tr>
            <td colspan="3"><b>مجموع مالیات‌ها :</b></td>
            <td>{{ total_tax|intcomma:False|default_if_none:"0" }} ریال</td>
        </tr>
        <tr>
            <td colspan="3"><b>مجموع تخفیف‌ها :</b></td>
            <td>{{ total_discount|intcomma:False|default_if_none:"0" }} ریال</td>
        </tr>
        <tr>
            <td colspan="3"><b>
                (قیمت محصولات + مالیات) – تخفیف‌ها =
            </b></td>
            <td>{{ total_price|intcomma:False|default_if_none:"0" }} ریال</td>
        </tr>
        <tr>
            <td colspan="3"><b>محاسبه فروش‌ها بر حسب نوع فروش :</b></td>
        </tr>
        <tr>
            <td colspan="3"><b>مجموع فروش‌ها با دستگاه کارتخوان :</b></td>
            <td>{{ total_pc_sales|intcomma:False|default_if_none:"0" }} ریال</td>
        </tr>
        <tr>
            <td colspan="3"><b>مجموع فروش‌های نقدی :</b></td>
            <td>{{ total_cash_sales|intcomma:False|default_if_none:"0" }} ریال</td>
        </tr>
        <tr>
            <td colspan="3"><b>مجموع فروش‌های ترکیبی :</b></td>
            <td>{{ total_mix_sales|intcomma:False|default_if_none:"0" }} ریال</td>
        </tr>
        <tr>
            <td colspan="3"><b>مجموع پرداخت‌های کارتخوان در فروش ترکیبی :</b></td>
            <td>{{ total_mix_pc|intcomma:False|default_if_none:"0" }} ریال</td>
        </tr>
        <tr>
            <td colspan="3"><b>مجموع پرداخت‌های نقدی در فروش ترکیبی :</b></td>
            <td>{{ total_mix_cash|intcomma:False|default_if_none:"0" }} ریال</td>
        </tr>
        
        
    </tfoot>
</table>

<br><br><br>
<p style="font-size: 80%; color: white; background-color:rgb(0, 0, 0); padding: 10px 15px; border: 2px solid red; border-radius: 10px; line-height: 1.6; margin-bottom: 12px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
    <span style="font-weight: bold; color: red;">نکته:</span> تراکنش های ناموفق در این جدول آمار و ارقام محاسبه نمیشود .
</p>    
{% endif %}	
{% endblock %}
